<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.material.MaterialMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.material.Material" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="REAL" />
    <result column="weight" property="weight" jdbcType="REAL" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="linktel" property="linktel" jdbcType="CHAR" />
    <result column="linkphone" property="linkphone" jdbcType="CHAR" />
    <result column="faxnum" property="faxnum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="materiel_uuid" property="materielUuid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="MaterialDto" extends="BaseResultMap" type="com.kingthy.platform.dto.material.MaterialDto">
   <result column="materiel_name" property="materielName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findAllByPage" parameterType="map" resultMap="MaterialDto">
    SELECT m.uuid,m.code,m.`name`,m.materiel_uuid,mc.class_name as materiel_name,m.image,m.status,m.component,m.`length`,m.weight,m.color from
    material m left join materiel_category mc
    on m.materiel_uuid=mc.uuid
    <trim prefix="where" prefixOverrides="and">
      m.del_flag is FALSE
      <if test="null != code and ''!=code">and m.code like concat("%",#{code},"%")</if>
      <if test="null != name and ''!=name">and m.name like concat("%",#{name},"%")</if>
      <if test="null != status ">and m.status = #{status}</if>
      <if test="null != materielUuid and ''!=materielUuid">and m.materiel_uuid = #{materielUuid}</if>
    </trim>
  </select>

  <select id="selectColor" resultType="string">
    select concat('(',rgb,')') AS rgb  from base_colour_info where code like concat(#{rgb},"%");
  </select>
</mapper>