<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.opus.PartSubMapper">
	<resultMap id="BaseResultMap" type="com.kingthy.platform.entity.opus.OpusPartSub">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="partsub_category_uuid" property="partsubCategoryUuid" jdbcType="CHAR" />
		<result column="partsub_status" property="partsubStatus" jdbcType="INTEGER" />
		<result column="image_path" property="imagePath" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="CHAR" />
		<result column="del_flag" property="delFlag" jdbcType="BIT" />
	</resultMap>
	
	<resultMap id="OpusPartSubMap" type="com.kingthy.platform.dto.opus.OpusPartSubDto" extends="BaseResultMap">
		<result column="partsub_category_name" property="partsubCategoryName"/>
	</resultMap>
	
	<select id="findPartSubMaterial" parameterType="map" resultType="map">
		select uuid,name from
		<choose>
			<when test="table=='opus_partsub_material'">material</when>
			<otherwise>accessories</otherwise>
		</choose>
		where uuid in (select
		<choose>
			<when test="table=='opus_partsub_material'">material_uuid</when>
			<otherwise>accessories_uuid</otherwise>
		</choose>
		from ${table} where partsub_uuid = #{partSubUuid})
	</select>

	<select id="selectByUuids" parameterType="list" resultMap="OpusPartSubMap">
		select ops.creator,ops.create_date,ops.modify_date,ops.modifier,ops.uuid,sn,name,partsub_status,image_path,
		partsub_category_uuid,pc.class_name as partsub_category_name from
		 opus_part_sub ops left join parts_category pc on ops.partsub_category_uuid=pc.uuid where ops.uuid in 
		 <foreach collection="list" item="partSubUuid" open="(" close=")" separator=",">#{partSubUuid}</foreach>
	</select>
</mapper>