<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <title>服装部件分类详情</title>
    <style type="text/css">
        .fileUploadDiv {
            position: relative;
            overflow: hidden;
            float: left !important;
        }
    </style>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">部件编号：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <lable class="form-label" style="text-align: left">{{data.sn}}</lable>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">部件名称：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <input type="text" class="input-text" v-model="data.className" :readonly="isEdit" name="data.className"
                       required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">部件效果图：</label>
            <div class="formControls col-xs-13 col-sm-11">
                <ul>
                    <li v-for="img in fileUrls" style="display: inline;">
                        <a :href="img" target="_blank"><img :src="img" alt="图片" width="10%"/></a>
                        <a title="删除" @click="removeImg(img)" v-show="!isEdit"><i>删除</i></a>
                    </li>
                </ul>
                <div class="fileUploadDiv" v-show="!isEdit">
                    <input type="file" class="input-file" @change="uploadImg">
                    <a class="btn btn-upload">选择图片</a>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">部件分类：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <select class="select-box" v-model="data.type" name="data.type" :disabled="isEdit" required
                        style="width: 250px">
                    <option v-for="materiel in materiels" :value="materiel.className">{{materiel.className}}</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">状态：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="radio" value="true" v-model="data.status" :disabled="isEdit"/>启用
                <input type="radio" value="false" v-model="data.status" :disabled="isEdit"/>禁用
            </div>
        </div>
        <div class="row cl">
            <div v-show="data.modelFile != null && data.modelFile != ''">
                <img :src="data.modelFile" style="padding-left: 50px" width="110px"/>
            </div>
            <div class="formControls " style="padding-left: 50px" v-show="!isEdit">
                <div class="fileUploadDiv">
                    <input type="file" class="input-file" @change="uploadFile">
                    <a class="btn btn-upload">更改模型文件</a>
                </div>
            </div>
        </div>
        <div class="row cl" style="padding: 50px;" v-show="!isEdit">
            <input type="button" value="确定" class="btn btn-success" @click="save"/>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript">
    $('#myform').validate();
    var uuid = getUrlParmsByName("uuid");
    var isEdit = getUrlParmsByName("isEdit");
    var vm = new Vue({
        el: "#app",
        data: {
            data: {
                className: "",
                image: "",
                modelFile: "",
                sn: "",
                status: true,
                type: ""
            },
            materiels: '',
            imageUrl: '',
            isEdit: false,
            dataFile: ''
        },
        created: function () {
            this.isEdit = isEdit == 'false' ? true : false;
            axios.get(zmme + "/partsCategory/queryAll").then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.materiels = result.data;
            })
            if (uuid)
                axios.get(zmme + "/partsCategory/queryInfo/" + uuid).then(function (response) {
                        var result = response.data;
                        if (result.code == 0) {
                            vm.data = result.data;
                            vm.data.image = JSON.parse(vm.data.image);
                        } else {
                            swal("加载数据错误！", result.message, "error");
                        }
                    }
                ).catch(function (response) {

                })
        },
        methods: {
            uploadImg: function (event) {
//                var name = target.value;
//                var fileName = name.substring(name.lastIndexOf(".") + 1).toLowerCase();
//                if (fileName != "jpg" && fileName != "jpeg" && fileName != "png") {
//                    swal("请选择图片格式文件上传(jpg,png,)！", "", "info");
//                }
//                swal(name, fileName, "info");
//                var fileSize = 0;
//                if (!target.files) {
//                    var filePath = target.value;
//                    var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
//                    var file = fileSystem.GetFile(filePath);
//                    fileSize = file.Size;
//                } else {
//                    fileSize = target.files[0].size;
//                }
//                var size = fileSize / 1024;
//                if (size > 2000) {
//                    alert("附件不能大于2M");
//                    target.value = "";
//                    return
//                }
                readAsDataURL(event.target, true);
            },
            uploadFile: function () {
                readAsDataURL(event.target, false, 0);
            },
            removeImg: function (img) {
                this.data.image.remove(img);
                this.imageUrl = '';
            },
            save: function () {
                if ($('#myform').valid()) {
                    this.data.image = JSON.stringify(this.data.image);
                    this.data.status = this.data.status=='true'?true:false;
//                    this.data.createDate = null;
//                    this.data.modifyDate = null;
                    var url = '';
                    var method = 'post';
                    if (uuid) {
                        url = '/partsCategory/update';
                        method = 'put';
                    } else {
                        url = '/partsCategory/create';
                    }
                    axios({url: zmme + url, method: method, data: this.data}).then(function (response) {
                        if (response.data.code == 0) {
                            swal({title: "保存服装部件分类成功", text: "", type: "success"}, function () {
                                if (uuid) location.replace(location.href); else {
                                    layer_close();
                                    refreshTable('#tablelist');
                                }
                            });
                        } else {
                            swal({title: "保存服装部件分类失败", text: "", type: "error"}, function () {
                                location.replace(location.href);
                            });
                        }
                    })
                }
            }
        },
        computed: {
            fileUrls: function () {
                if (this.imageUrl != '') {
                    if (this.data.image == '')
                        this.data.image = [];
                    if (this.dataFile == '')
                        this.data.modelFile = this.dataFile;
                    this.data.image.push(this.imageUrl);
                }
                return this.data.image;
            }
        }
    })

    function getColors(color) {
        var result = [];
        $.ajax({
            url: zmme + '/material/selectColor/' + color,
            method: 'get',
            async: false,
            dataType: 'json',
            success: function (data) {
                result = data.data;
            }
        })
        return result;
    }

    /*数组属性扩展*/
    Array.prototype.indexOf = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1)
            this.splice(index, 1);
    };
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>