<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2016 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.AfterSaleServiceMapper">

    <resultMap id="BaseResultMap" type="com.kingthy.entity.AfterSaleService" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uuid" property="uuid" jdbcType="CHAR" />
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
        <result column="goods_uuid" property="goodsUuid" jdbcType="CHAR" />
        <result column="member_uuid" property="memberUuid" jdbcType="CHAR" />
        <result column="member_name" property="memberName" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="apply_service_type" property="applyServiceType" jdbcType="INTEGER" />
        <result column="apply_service_name" property="applyServiceName" jdbcType="VARCHAR" />
        <result column="exchange_reason" property="exchangeReason" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="shipping_number" property="shippingNumber" jdbcType="VARCHAR" />
        <result column="auditing_flag" property="auditingFlag" jdbcType="BIT" />
    </resultMap>

    <update id="updateAfterSaleServiceByOrderSn" parameterType="com.kingthy.entity.AfterSaleService">
        UPDATE after_sale_service a

        <trim prefix="SET" suffixOverrides=",">
            <if test="createDate != null"> a.create_date = #{createDate}, </if>
            <if test="modifyDate != null"> a.modify_date = #{modifyDate}, </if>
            <if test="shippingNumber != null"> a.shipping_number = #{shippingNumber}, </if>
            <if test="memberName != null"> a.member_name = #{memberName}, </if>
            <if test="memberUuid != null"> a.member_uuid = #{memberUuid}, </if>
            <if test="delFlag != null"> a.del_flag = #{delFlag}, </if>
            <if test="creator != null"> a.creator = #{creator}, </if>
            <if test="modifier != null"> a.modifier = #{modifier}, </if>
            <if test="version != null"> a.version = #{version}, </if>
            <if test="img != null"> a.version = #{img}, </if>
            <if test="exchangeReason != null"> a.exchange_reason = #{exchangeReason}, </if>
            <if test="applyServiceType != null"> a.apply_service_type = #{applyServiceType}, </if>
            <if test="applyServiceName != null"> a.apply_service_name = #{applyServiceName}, </if>
        </trim>
        WHERE a.order_sn = #{orderSn}

    </update>

    <select id="selectSaleServiceList" resultType="com.kingthy.response.AfterSaleServiceResp">
        SELECT
            a.order_sn orderSn,
            a.`status`,
            b.`name` goodsName,
            b.amount,
            b.quantity,
            b.price,
            b.figure_uuid figureUuid,
            a.goods_uuid goodsUuid
        FROM
          after_sale_service a
        LEFT JOIN order_item b ON a.order_sn = b.sn
        WHERE
          a.del_flag = 0
        AND a.member_uuid = #{memberUuid}
        ORDER BY a.create_date DESC LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectListByConditon" parameterType="com.kingthy.request.AfterSaleServiceReq"
            resultType="com.kingthy.dto.AfterSaleServiceDetailDto">
        SELECT
        a.order_sn orderSn,
        b.create_date orderCreateDate,
        b.payment_date paymentDate,
        b.`name` goodsName,
        b.amount,
        b.quantity,
        b.member_name memberName,
        a.apply_service_name applyServiceName,
        a.exchange_reason exchangeReason,
        a.img,
        a.create_date applyCreateDate,
        a.`status`,
        a.memo,
        a.uuid,
        a.goods_uuid goodsUuid
        FROM
        after_sale_service a
        LEFT JOIN order_item b ON a.order_sn = b.sn
        WHERE
        a.del_flag = 0
        AND a.auditing_flag = 0
        <if test="status != null and status != ''">
            AND a.`status` = #{status}

        </if>
        <if test="orderSn != null and orderSn != ''">
            AND a.order_sn = #{orderSn}

        </if>
        <if test="goodsName != null and goodsName != ''">
            AND b.`name` like concat('%',#{goodsName},'%')
        </if>
        <if test="memberName != null and memberName != ''">
            AND b.member_name like concat('%',#{memberName},'%')

        </if>
        <if test="memo != null and memo != ''">
            AND a.memo like concat('%',#{memo},'%')

        </if>
        <if test="beginDate != null and beginDate != ''">
            AND unix_timestamp(a.create_date) * 1000 &gt;= #{beginDate}

        </if>
        <if test="endDate != null and endDate != ''">
            AND unix_timestamp(a.create_date) * 1000 &lt;= #{endDate}
        </if>
    </select>

    <update id="updateRejectAuditing" parameterType="com.kingthy.request.AfterSaleServiceReq$RejectReq">
        UPDATE after_sale_service a
        SET a.reject_reason = #{rejectReason},
        a.auditing_flag = 1,
        a.modifier = #{memberUuid},
        a.modify_date = NOW()
        WHERE a.uuid = #{uuid} AND a.del_flag = 0
    </update>

    <update id="updateStatus" parameterType="com.kingthy.entity.AfterSaleService">
        UPDATE after_sale_service a

        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''"> a.`status` = #{status}, </if>
            <if test="modifier != null and modifier != ''"> a.modifier = #{modifier}, </if>
            <if test="modifyDate != null"> a.modify_date = #{modifyDate}, </if>
            <if test="shippingNumber != null and shippingNumber != ''"> a.shipping_number = #{shippingNumber}, </if>
            <if test="delFlag != null and delFlag != ''"> a.del_flag = #{delFlag}, </if>
            <if test="refundsAddrUuid != null and refundsAddrUuid != ''"> a.refunds_addr_uuid = #{refundsAddrUuid}</if>
        </trim>

        WHERE a.uuid = #{uuid} AND a.del_flag = 0 AND a.auditing_flag != 1
    </update>

</mapper>
