<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2016 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.kingthy.entity.OrderItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="BIGINT" />
        <result column="is_delivery" property="isDelivery" jdbcType="BIT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="quantity" property="quantity" jdbcType="INTEGER" />
        <result column="sn" property="sn" jdbcType="VARCHAR" />
        <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="order_uuid" property="orderUuid" jdbcType="CHAR" />
        <result column="product_uuid" property="productUuid" jdbcType="CHAR" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="uuid" property="uuid" jdbcType="CHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="figure_uuid" property="figureUuid" jdbcType="CHAR" />
        <result column="payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
        <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
        <result column="complete_date" property="completeDate" jdbcType="TIMESTAMP" />
        <result column="expire" property="expire" jdbcType="TIMESTAMP" />
        <result column="memo" property="memo" jdbcType="VARCHAR" />
        <result column="offset_amount" property="offsetAmount" jdbcType="DECIMAL" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
        <result column="returned_quantity" property="returnedQuantity" jdbcType="INTEGER" />
        <result column="shipped_quantity" property="shippedQuantity" jdbcType="INTEGER" />
        <result column="shipping_method_name" property="shippingMethodName" jdbcType="VARCHAR" />
        <result column="shipping_number" property="shippingNumber" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="member_name" property="memberName" jdbcType="VARCHAR" />
        <result column="member_uuid" property="memberUuid" jdbcType="CHAR" />
        <result column="payment_method_uuid" property="paymentMethodUuid" jdbcType="CHAR" />
        <result column="shipping_method_uuid" property="shippingMethodUuid" jdbcType="CHAR" />
        <result column="payment_method_type" property="paymentMethodType" jdbcType="INTEGER" />
        <result column="is_invoice" property="isInvoice" jdbcType="BIT" />
        <result column="invoice_type" property="invoiceType" jdbcType="INTEGER" />
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="order_address" property="orderAddress" jdbcType="VARCHAR" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="area_uuid" property="areaUuid" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="province_uuid" property="provinceUuid" jdbcType="INTEGER" />
        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        <result column="city_uuid" property="cityUuid" jdbcType="INTEGER" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectSaleCountByGoodsUuid" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT SUM(a.quantity) saleCount FROM order_item a
        WHERE a.product_uuid = #{goodsUuid} AND a.del_flag = 0 AND a.`status` = 7
    </select>


    <!-- 查询会员订单 -->
    <select id="getMemberOrderList" resultType="com.kingthy.dto.MemberOrderDTO">


        select
        b.uuid orderUuid,
        b.`status` orderStatus,
        b.sn orderSn,
        b.member_uuid
        memberUuid,
        b.member_name memberName,
        round(b.quantity*b.price,2) totalAmount,
        b.quantity totalQuantity,

        b.product_uuid productUuid,
        b.`name` productName,
        round(b.price,2) price,
        b.quantity,
        b.figure_uuid figureUuid,
        b.create_date createDate

        from
        order_item b

        <where>
            b.del_flag=0
            <if test=" memberUuid!=null and memberUuid!='' ">
                AND b.member_uuid=#{memberUuid}
            </if>
            <if test=" orderStatus!=null and orderStatus!='' and orderStatus!=-1 ">
                AND b.`status`=#{orderStatus} AND NOT EXISTS  (select id from  after_sale_service  where after_sale_service.del_flag=0 and after_sale_service.order_sn=b.sn);
            </if>
        </where>
        order by b.create_date desc

    </select>

    <select id="getMemberOrderList_COUNT" resultType="Long">
        select
        COUNT(0)

        from
        order_item b

        <where>
            b.del_flag=0
            <if test=" memberUuid!=null and memberUuid!='' ">
                AND b.member_uuid=#{memberUuid}
            </if>
            <if test=" orderStatus!=null and orderStatus!='' and orderStatus!=-1 ">
                AND b.`status`=#{orderStatus} AND NOT EXISTS  (select id from  after_sale_service  where after_sale_service.del_flag=0 and after_sale_service.order_sn=b.sn);
            </if>
        </where>
    </select>

    <!-- 分页查询会员订单 -->
    <select id="pageQueryMemberOrders" resultType="com.kingthy.dto.MemberOrderDTO">


        select
        b.uuid orderUuid,
        b.`status` orderStatus,
        b.sn orderSn,
        b.member_uuid
        memberUuid,
        b.member_name memberName,
        round(b.quantity*b.price,2) totalAmount,
        b.quantity totalQuantity,
        b.product_uuid productUuid,
        b.`name` productName,
        round(b.price,2) price,
        b.quantity,
        b.figure_uuid figureUuid,
        b.create_date createDate
        from
        order_item b
        <where>
            b.del_flag=0
            <if test=" memberUuid !=null and memberUuid !='' ">
                AND b.member_uuid=#{memberUuid}
            </if>
            <if test=" orderStatus !=null and orderStatus !='' ">
                AND b.`status`=#{orderStatus} AND NOT EXISTS  (select id from  after_sale_service  where after_sale_service.del_flag=0 and after_sale_service.order_sn=b.sn);
            </if>
            <if test=" timespan !=null and timespan >0  ">
                <![CDATA[  AND (UNIX_TIMESTAMP(b.create_date)*1000) < #{timespan}  ]]>
            </if>
        </where>
        order by b.create_date desc
        LIMIT 0,#{pageSize}
    </select>

    <select id="selectOrderItemInfo" parameterType="java.lang.String" resultType="com.kingthy.dto.IncomeDetailDTO$OrderItem">
        SELECT a.product_uuid goodsUuid, a.quantity,a.amount
        FROM order_item a WHERE
        a.sn = #{orderSn}
        AND a.del_flag = 0
        AND a.`status` = 4
    </select>

    <select id="selectGoodsUuIdAndOrderUuIdByOrderSn" parameterType="java.lang.String" resultType="com.kingthy.entity.BuyersShow">
        SELECT a.product_uuid goodsUuid, a.uuid orderUuid FROM order_item a WHERE a.sn = #{orderSn} AND a.del_flag = 0
    </select>

    <!--查询月度商品销量-->
    <select id="selectSaleCountByGoodsUuidAndMonth" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
        SUM(a.quantity) saleCount
        FROM
        order_item a
        WHERE
        a.product_uuid = #{goodsUuid}
        AND a.del_flag = 0
        AND a.`status` = 7
        AND DATE_FORMAT(a.create_date, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
    </select>

    <select id="selectOrderItemInfoBySn" parameterType="java.lang.String" resultType="com.kingthy.dto.SingleOrderDTO">
        SELECT
            a.product_uuid goodsUuid,
            a.sn,
            a.create_date createDate,
            a.payment_date paymentDate,
            a.payment_method_type paymentMethodType,
            a.shipping_method_name shippingMethodName,
            a.invoice_title invoiceTitle,
            a.is_invoice isInvoice,
            a.amount,
            a.quantity,
            a.figure_uuid figureUuid,
            a.`name` goodsName,
            a.`status`,
            -- c.materiel_info materielInfo,
            -- c.cover,
            -- d.figure_name figureName,
            b.consignee,
            b.address,
            b.phone
        FROM
          order_item a
        LEFT JOIN orders b ON a.order_uuid = b.uuid
        -- LEFT JOIN goods c ON c.uuid = a.product_uuid
        -- LEFT JOIN figure d ON d.uuid = a.figure_uuid
        WHERE
          a.sn = #{orderSn}
        AND a.del_flag = 0
    </select>


    <select id="findOrderItemListByPage" parameterType="com.kingthy.request.OrderItemReq" resultType="com.kingthy.dto.OrderItemDto">

        SELECT
        a.uuid,
        a.sn,
        a.amount,
        a.member_name memberName,
        a.payment_method_type paymentMethodType,
        a.order_address orderAddress,
        a.shipping_method_name shippingMethodName,
        a.is_invoice isInvoice,
        a.`status`,
        a.create_date createDate,
        a.payment_date paymentDate
        FROM
        order_item a
        WHERE
        a.del_flag = 0


        <if test="memberName != null and memberName != ''">
            AND a.member_name LIKE concat('%',#{memberName},'%')
        </if>

        <if test="status != null and status != ''">
            AND a.`status` = #{status}
        </if>

        <if test="beginTime != null and beginTime != ''">
            AND unix_timestamp(a.create_date) * 1000 &gt;= #{beginTime}
        </if>

        <if test="endTime != null and endTime != ''">
            AND unix_timestamp(a.create_date) * 1000 &lt; #{endTime}
        </if>

        <if test="priceMin != null">
            AND a.amount &gt;= #{priceMin}
        </if>

        <if test="priceMax != null">
            AND a.amount &lt;= #{priceMax}
        </if>
        <if test="sn != null and sn != ''">
            AND a.sn = #{sn}
        </if>
        <if test=" productUuids !=null and productUuids.size()>0 ">
            AND a.product_uuid  in
            <foreach collection="productUuids" item="productUuid" index="" open="(" close=")" separator=",">
                #{productUuid}
            </foreach>
        </if>

    </select>

    <select id="selectOrderDetail" resultType="com.kingthy.dto.OrderItemDto$OrderDetail" parameterType="java.lang.String">
        SELECT
        b.sn orderSn,
        c.`status`,
        c.member_name memberName,
        c.create_date createDate,
        c.payment_method_type paymentMethodType,
        c.payment_date paymentDate,
        c.shipping_method_name shippingMethodName,
        c.delivery_date deliveryDate,
        c.shipping_number shippingNumber,
        b.consignee,
        c.phone,
        b.area_name areaName,
        b.address
        FROM
        order_item c
        LEFT JOIN orders b ON c.order_uuid = b.uuid
        WHERE
        c.del_flag = 0 AND c.sn = #{orderSn}

    </select>

    <select id="selectShowOrderInfo" resultType="com.kingthy.dto.OrderItemDto$InvoiceInfo" parameterType="java.lang.String">
        SELECT
        b.sn orderSn,
        c.`status`,
        c.member_name memberName,
        c.create_date createDate,
        c.payment_method_type paymentMethodType,
        c.payment_date paymentDate,
        c.shipping_method_name shippingMethodName,
        c.delivery_date deliveryDate,
        c.shipping_number shippingNumber,
        b.consignee,
        c.phone,
        b.area_name areaName,
        b.address,
        c.is_invoice,
        c.invoice_title,
        c.memo,
        c.`name`,
        c.price,
        c.quantity,
        c.amount,
        c.payment_method_type,
        c.product_uuid productUuid,
        c.figure_uuid figureUuid
        FROM
        order_item c
        LEFT JOIN orders b ON c.order_uuid = b.uuid
        WHERE
        c.del_flag = 0
        AND c.sn = #{orderSn}

    </select>

    <select id="selectOrderUuidBySn" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT uuid FROM order_item WHERE sn = #{orderSn}

    </select>

    <update id="cancelOrderBySn" parameterType="java.lang.String">
        UPDATE order_item a SET a.`status` = 5, a.modifier = #{memberUuid},a.modify_date = NOW() WHERE a.sn = #{orderSn} AND a.del_flag = 0
    </update>

    <select id = "selectBath" resultMap="BaseResultMap">
        SELECT
        create_date, modify_date, is_delivery, name, price, quantity, sn, thumbnail,
        type, order_uuid, product_uuid, uuid, creator, modifier, figure_uuid, payment_date,
        delivery_date, complete_date, expire, memo, offset_amount, phone, refund_amount,
        returned_quantity, shipped_quantity, shipping_method_name, shipping_number, status,
        member_name, member_uuid, payment_method_uuid, shipping_method_uuid, payment_method_type,
        is_invoice, invoice_type, invoice_title, amount, ip, order_address, area_name, area_uuid,
        address, province_uuid, province_name, city_uuid, city_name
        FROM
        order_item
        WHERE del_flag = FALSE and sn IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY create_date DESC
    </select>
</mapper>