<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.OrderReportMapper" >

    <!--根据时间段查询全站下单数量-->
    <select id="findPlaceOrderNum" parameterType="com.kingthy.request.UserDataReq" resultType="int">
        SELECT count(uuid) FROM order_item WHERE 1 = 1
        <if test="timeRage !=null and timeRage.value == 1">
            and TO_DAYS( NOW( ) ) - TO_DAYS( create_date) &lt;= 1;
        </if>
        <if test="timeRage !=null and timeRage.value == 2">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(create_date);
        </if>
        <if test="timeRage !=null and timeRage.value == 3">
            and DATE_SUB(CURDATE(), INTERVAL 15 DAY) &lt;= DATE(create_date);
        </if>
        <if test="timeRage !=null and timeRage.value == 4">
            and PERIOD_DIFF( DATE_FORMAT( NOW( ) , '%Y%m' ) , DATE_FORMAT( create_date, '%Y%m' ) ) =1
        </if>
        <if test=" startDate != null and endDate != null">
            and create_date BETWEEN #{startDate} AND DATE_ADD(#{endDate},INTERVAL 1 DAY);
        </if>
    </select>

    <!--根据时间段查询全站购买数量-->
    <select id="findBuyNum" parameterType="com.kingthy.request.UserDataReq" resultType="int">
        SELECT count(uuid) FROM order_item WHERE status &lt;&gt; 0
        <if test="timeRage !=null and timeRage.value == 1">
            and TO_DAYS( NOW( ) ) - TO_DAYS( create_date) &lt;= 1;
        </if>
        <if test="timeRage !=null and timeRage.value == 2">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(create_date);
        </if>
        <if test="timeRage !=null and timeRage.value == 3">
            and DATE_SUB(CURDATE(), INTERVAL 15 DAY) &lt;= DATE(create_date);
        </if>
        <if test="timeRage !=null and timeRage.value == 4">
            and PERIOD_DIFF( DATE_FORMAT( NOW( ) , '%Y%m' ) , DATE_FORMAT( create_date, '%Y%m' ) ) =1
        </if>
        <if test=" startDate != null and endDate != null">
            and create_date BETWEEN #{startDate} AND DATE_ADD(#{endDate},INTERVAL 1 DAY);
        </if>
    </select>

    <!--购买过一次以上商品的用户数-->
    <select id="repeatBuyNum" resultType="int">
        SELECT COUNT(b.num) FROM (
        SELECT COUNT(a.member_uuid) num,a.member_uuid  FROM
        (
        SELECT  member_uuid FROM order_item WHERE   STATUS &lt;&gt;0 ) a
        GROUP BY a.member_uuid ) b
        WHERE b.num &gt;1;
    </select>

    <!--去重查询发生过购买行为的用户数-->
    <select id="totalNum" resultType="int">
        SELECT COUNT(a.uuid) AS num FROM(SELECT DISTINCT member_uuid UUID FROM order_item WHERE   STATUS  &lt;&gt; 0) a
    </select>

    <!--不同年龄分段购买情况-->
    <select id="findBuyDataByMemberUuid" resultType="com.kingthy.dto.MemberUuidGroupBuyDto">
       SELECT IFNULL(SUM(o.`amount`),0) AS money,o.`member_uuid` AS memberUuid FROM orders o
       WHERE o.`member_uuid` IN
       <foreach collection="list" close=")" open="(" item="reportUserUuidByAgeDto" separator="," index="">
           #{reportUserUuidByAgeDto.uuid}
       </foreach>
       AND o.`status`= 0
    </select>


    <!--订单地区分布-->
    <select id="findOrdersByArea" resultType="com.kingthy.dto.OrderAreaDto"
            parameterType="com.kingthy.request.UserDataReq">
        SELECT COUNT(`uuid`) AS num,province_uuid AS province,`status`,create_date FROM orders
        GROUP BY province_uuid
        HAVING `status`= 0
        <if test="timeRage !=null and timeRage.value == 1">
            and TO_DAYS( NOW( ) ) - TO_DAYS( create_date) &lt;= 1
        </if>
        <if test="timeRage !=null and timeRage.value == 2">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= DATE(create_date)
        </if>
        <if test="timeRage !=null and timeRage.value == 3">
            and DATE_SUB(CURDATE(), INTERVAL 15 DAY) &lt;= DATE(create_date)
        </if>
        <if test="timeRage !=null and timeRage.value == 4">
            and PERIOD_DIFF( DATE_FORMAT( NOW( ) , '%Y%m' ) , DATE_FORMAT( create_date, '%Y%m' ) ) =1
        </if>
        <if test=" startDate != null and endDate != null">
            and create_date BETWEEN #{startDate} AND DATE_ADD(#{endDate},INTERVAL 1 DAY)
        </if>
        ORDER BY num DESC
    </select>
</mapper>