<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.manager.PlatformMenuMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.manager.PlatformMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="DATE" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="com.kingthy.platform.dto.manager.PlatformMenuPageReq" >
  	select uuid,menu_name,url,description from platform_menu
  	where del_flag is false
  	<if test=" menuName!= null and menuName!='' ">
  		and menu_name like concat('%',#{menuName},'%')
  	</if>
  	order by create_date desc
  </select>
  
  <select id="findByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
  select uuid,menu_name,url,description from platform_menu
  	where del_flag is false
  	and uuid = #{uuid}
  </select>
  
  <select id="findMenuByRoleUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT pm.`menu_name` as menu_name,pm.`url` as url FROM `platform_menu` pm INNER JOIN 
	(
	SELECT prm.`menu_uuid` AS menu_uuid FROM `platform_role` pr INNER JOIN `platform_role_menu` prm 
	ON pr.`uuid` = prm.`role_uuid`
	where pr.`uuid`=#{uuid}) a
	ON pm.`uuid` = a.menu_uuid
  </select>
  
  <select id="findMenuIdByUrl" parameterType="java.util.Map" resultType="java.lang.String">
  	select uuid from platform_menu
  	where url
  	 in
  	<foreach collection="menusUrls" item="menusUrl" index="" open="(" close=")" separator=",">
				#{menusUrl}
	</foreach>
  </select>
</mapper>