<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.manager.PlatformUserMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.manager.PlatformUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="DATE" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="office_phone" property="officePhone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 分页查询用户信息并按用户名排序 -->
  <select id="findUserByPage"  parameterType="com.kingthy.platform.dto.manager.PlatformUserPageReq" resultType="com.kingthy.platform.dto.manager.PlatformUserInfoDto">
  	SELECT pu.uuid,pu.user_name AS userName,pu.phone,pu.office_phone AS officePhone,pu.email,
  	pr.`role_name` AS roleName,pur.`role_uuid` AS roleUuid 
  	FROM platform_user pu
	LEFT JOIN platform_user_role pur ON pu.`uuid`=pur.`user_uuid`
	LEFT JOIN platform_role pr ON pur.`role_uuid`=pr.`uuid`
	WHERE pu.del_flag IS FALSE
  	<if test="userName != null and userName !='' ">
  		and pu.user_name like concat('%',#{userName},'%')
  	</if>
  	order by pu.user_name 
  </select>
  
  <!-- 根据用户uuid查询用户信息及角色信息 -->
  <select id="findBaseInfoByUuid" parameterType="java.lang.String" resultType="com.kingthy.platform.dto.manager.PlatformUserInfoDto">
  	SELECT pu.uuid,pu.user_name AS userName,pu.phone,pu.office_phone AS officePhone,pu.email,
  	pr.`role_name` AS roleName,pur.`role_uuid` AS roleUuid 
  	FROM platform_user pu
	LEFT JOIN platform_user_role pur ON pu.`uuid`=pur.`user_uuid`
	LEFT JOIN platform_role pr ON pur.`role_uuid`=pr.`uuid`
	WHERE pu.del_flag IS FALSE
  	AND pu.uuid = #{uuid}
  </select>
  
  <!-- 根据用户信息查询用户密码和盐 -->
  <select id="findTotalInfoByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT password,salt FROM platform_user
  	WHERE  uuid = #{uuid}
  </select>
  
  <!-- 根据用户名查询用户数量 -->
  <select id="findCountByName" parameterType="java.lang.String" resultType="int">
  select count(uuid) from platform_user
  where del_flag is false
  and user_name=#{userName}
  </select>
  
  <!-- 向用户分配角色 -->
  <insert id="assignedRole" parameterType="com.kingthy.platform.dto.manager.PlatformUserEditReq">
  	insert into platform_user_role 
  	(user_uuid,role_uuid)
  	values
  	(#{uuid},#{roleUuid})
  </insert>
  
  <!-- 根据用户uuid删除用户角色中间表 -->
  <delete id="deleteUserRoleByUserId" parameterType="java.lang.String">
  	delete from platform_user_role 
  	where user_uuid = #{uuid}
  </delete>
  
  <!-- 根据用户uuid重置用户密码 -->
  <update id="resetPassword" parameterType="com.kingthy.platform.dto.manager.ResetPasswordReq">
  	update platform_user
  		set password=#{password},
  		salt=#{salt},
  		modifier=#{modifier},
  		modify_date = #{modifyDate}
  		where 
  		uuid = #{uuid}
  </update>
</mapper>