<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
	<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/plugins/sweetalert/sweetalert.css">
	<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
	<title>商品分类-详情</title>
</head>

<body>

	<div id="app" style="margin-top:30px">
		<form class=" form-horizontal" name="myform" id="myform" role="form">

			<div class="form-group" v-show="isShowParent">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>上级分类:</label>
				<div class="col-sm-6">
					<select id="subClass" class="form-control  subClass" v-model="model.parentId"></select>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>上级分类:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="" name="parentClass" v-model="model.parentClass" readonly>
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>分类名称:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="" name="className" v-model="model.className" placeholder="">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>分类状态:</label>
				<div class="col-sm-6">
					<lable class="radio-inline">
						<input type="radio" id="status-1" name="status" value="true" checked v-model="model.status" />
						<label for="status-1">显示</label>
					</lable>
					<lable class="radio-inline">
						<input type="radio" id="status-0" name="status" value="false" v-model="model.status" />
						<label for="status-0">隐藏</label>
					</lable>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">描述：</label>
				<div class="col-sm-6">
					<textarea name="description" v-model="model.description" class="form-control" cols="" rows="5" placeholder="说点什么...255个字符以内"
					 dragonfly="true"></textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/255</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-primary" @click="onSubmit">提交</button>
				</div>
			</div>

		</form>
	</div>



	<script type="text/javascript" src="../../../js/base.js"></script>
	<script type="text/javascript" src="../../../plugins/jquery.validation/jquery.validate.js"></script>
	<script type="text/javascript" src="../../../plugins/jquery.validation/jquery.validate-default.js"></script>

	<script type="text/javascript">
		//Vue.prototype.$http = axios;

		var parmObj = getLocalUrlParms();
		//定义数据保存执行的url
		var url = zmme + "/classCategory/add";
		//定义数据保存行的url请求方式POST：新增，PUT:修改
		var method = "POST";

		getBigSub();

		//Vue操作
		var vm = new Vue({
			el: '#app',
			//数据
			data: {
				//定义用于绑定的一个对象
				model: {},
				isShowParent: true
			},
			//vue 实例创建完成，dom未创建
			created: function () {

				//初始化部分参数值
				//如果是编辑，根据uuid加载数据
				if (parmObj.operate == "update") {
					//修改url为更新url,修改method为url对应的请求方式
					url = zmme + "/classCategory/edit";
					method = "PUT";
					//获取编辑的数据并显示
					this.viewEditData();
				} else {
					this.model = { status: true };
					if (parmObj.uuid) {
						this.isShowParent = true
					} else {
						//新增根节点,不显示父级选项
						this.isShowParent = false
					}
				}
			},
			//dom 加载完成
			mounted: function () {
				this.initValidate();
				//设置分类选中状态
				this.setSelectedValue(parmObj.uuid);
			},
			//计算属性
			computed: {},
			//方法
			methods: {
				onSubmit: function () {
					//保存数据
					if ($("#myform").valid()) {
						var data = this.model;
						console.log(data);
						var parentId = $(".subClass").find("option:selected").val();
						var parentGrade = $(".subClass").find("option:selected").attr("grade");
						if (parentId) {
							data.parentId = parentId;
							data.parentGrade = parentGrade;
						} else {
							data.parentId = 0;
							data.parentGrade = -1;
						}
						console.log(JSON.stringify(data));
						//通过验证    
						axios({
							method: method,
							url: url,
							data: data
						}).then(response => {
							var result = response.data;
							if (result.code == 0) {
								layer_close();
							} else {
								swal("错误！", result.message, "error");
							}
						});
					}
				},
				viewEditData: function () {
					//根据uuid获取数据，并显示在页面
					var getUrl = zmme + "/classCategory/get/" + parmObj.uuid;
					axios.get(getUrl).then(response => {
						var result = response.data;
						if (result.code == 0) {
							//绑定到对象
							this.model = result.data;
							var parentId = result.data.parentId;
							if (parentId == "0") {
								//分类为一级分类，隐藏父级分类div
								this.isShowParent = false;
							} else {
								//显示父级分类
								this.isShowParent = true;
								this.setSelectedValue(parentId);
							}
						} else {
							swal("错误！", result.message, "error");
						}
					})
				},
				//初始化表单校验
				initValidate: function () {
					$("#myform").validate({
						rules: {
							className: "required",
							status: "required"
						},
						messages: {
							className: "请输入分类名称",
							status: "请设置状态"
						}
					});
				},
				setSelectedValue: function (uuid) {
					$("#subClass").val(uuid);
				}
			},
		});
		/*--------vue---end----------*/

		// 获取作品品类
		function getBigSub() {

			$(".subClass").empty();
			$.ajax({
				type: 'get',
				url: zmme + "/classCategory/findAll",
				async: false,
				success: function (res) {
					if (res.code == 0) {
						getCategory(res.data, "subClass");
					} else {
						swal("错误！", res.message, "error");
					}
				}

			})
		}
		// 获取作品品类填充到select
		function getCategory(data, styleClass) {
			for (var i = 0; i < data.length; i++) {
				var str = " ";
				for (var n = 0; n < data[i].grade; n++) {
					str += "&nbsp;&nbsp;&nbsp;&nbsp;";
				};
				if (data[i].childrens && (data[i].grade == 0)) {
					$("." + styleClass).append('<option value="' + data[i].uuid + '" grade="' + data[i].grade + '">' + data[i].className + '</option>');
					if (data[i].childrens != null) {
						getCategory(data[i].childrens, styleClass);
					};
				} else {
					$("." + styleClass).append('<option value="' + data[i].uuid + '" grade="' + data[i].grade + '">' + str + data[i].className + '</option>');
				}
			}
		}
	</script>

</body>

</html>