<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.member.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.member.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="payment_password" property="paymentPassword" jdbcType="VARCHAR" />
    <result column="paymen_salt" property="paymenSalt" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area_ids" property="areaIds" jdbcType="CHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="locked_date" property="lockedDate" jdbcType="TIMESTAMP" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="login_failure_count" property="loginFailureCount" jdbcType="INTEGER" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_plugin_id" property="loginPluginId" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="register_ip" property="registerIp" jdbcType="VARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="is_locked" property="isLocked" jdbcType="BIT" />
    <result column="is_desinger" property="isDesinger" jdbcType="BIT" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="bar_codes" property="barCodes" jdbcType="VARCHAR" />
    <result column="constellation" property="constellation" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="skin_color" property="skinColor" jdbcType="VARCHAR" />
    <result column="face" property="face" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
  </resultMap>


  <select id="findMemberByPage" parameterType="com.kingthy.platform.dto.member.MemberPageReq" resultMap="BaseResultMap">
    SELECT uuid,phone,user_name,gender,birth,create_date,is_locked FROM
    member
    WHERE del_flag IS FALSE
    <if test="phone!=null">
      AND phone LIKE concat('%',#{phone},'%')
    </if>
    <if test="userName!=null">
      AND user_name LIKE concat('%',#{userName},'%')
    </if>
    <if test="startTime !=null">
      <![CDATA[ AND create_date  >=  #{startTime}  ]]>
    </if>
    <if test="endTime !=null "  >
      <![CDATA[ AND create_date <=  #{endTime}  ]]>
    </if>
  </select>

  <!-- 改变用户冻结状态 -->
  <update id="changeIsLockedBatch" parameterType="java.util.Map">
    update member set
    is_locked = #{isLocked},
    modify_date = #{modifyDate},
    locked_date = #{modifyDate}
    where uuid in
    <foreach collection="uuidArray" item="memberUuid" index="" open="(" close=")" separator=",">
      #{memberUuid}
    </foreach>
  </update>


</mapper>