<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../../css/plugins/sweetalert/sweetalert.css"/>
    <title>发型</title>
</head>
<body>
<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 基础数据 <span
        class="c-gray en">&gt;</span> 地区管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="glyphicon glyphicon-refresh"></i>
    </a>
</nav>
<div class="page-container" id="area">
    <!--操作按钮-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">	<span class="l">
		       <a class="btn btn-sm btn-primary" data-title="添加分类" @click="to_add()">
                   <i class="glyphicon glyphicon-plus"></i> 添加</a>
		       <a class="btn btn-sm btn-primary" data-title="返回上级" @click="to_up()" v-show="isShow">
                   <i class="glyphicon glyphicon-arrow-up"></i> 上级地区</a>
		    </span>
    </div>
    <!--数据列表-->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-no-bordered table-hover table-bg ">
            <thead>
            <tr class="text-c">
                <th colspan="6" style="font-size: 18px">{{parentArea}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in areaListTemp" class="text-c">
                <td v-for="cell in row" style="border: none">
                    <div style="font-size: 15px"><a title="查看" style="text-decoration: none" @click="view(cell)">{{cell.name}}</a>
                        <a style="text-decoration: none" @click="editArea(cell)">[编辑]</a><a
                                style="text-decoration: none" @click="del(cell.id)">[删除]</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../../js/base.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    var areaParentId = getUrlParmsByName("areaParentId");
    var areaParentId_up = getUrlParmsByName("areaParentId_up");
    var param;
    var url = zmme + "/area/query";
    if (areaParentId) {
        param = {pageNum: 1, pageSize: 100, areaParentId: areaParentId};
    } else if (areaParentId_up) {
        param = {pageNum: 1, pageSize: 100, parentId: areaParentId_up};
        url = zmme + "/area/queryParentArea";
    } else {
        param = {pageNum: 1, pageSize: 100, grade: 0};
    }
    var vm = new Vue({
        el: '#area',
        data: {
            areaList: '',
            parentArea: '顶级地区',
            areaParentId: areaParentId,
            isShow: true
        },
        created: function () {
            axios.post(url, param).then(function (response) {
                var result = response.data;
                vm.areaList = result.data.list;
                if (vm.areaList.length != 0) {
                    vm.isShow = vm.areaList[0].areaParentId;
                    var fullName = vm.areaList[0].fullName;
                    var name = vm.areaList[0].name;
                    if (vm.isShow) {
                        vm.parentArea = fullName.lastIndexOf(name) == 0 ? fullName : fullName.substr(0, fullName.lastIndexOf(name));
                    }
                    areaParentId = areaParentId ? areaParentId : vm.areaList[0].areaParentId;
                } else {
                    vm.parentArea = decodeURI(decodeURI(getUrlParmsByName('areaParentName')));
                }
            }).catch(function () {
                swal("服务器请求数据错误", "请联系网络管理员", "error")
            })
        },
        computed: {
            areaListTemp: function () {
                var list = this.areaList;
                var arrTemp = [];
                var index = 0;
                var sectionCount = 6;
                for (var i = 0; i < list.length; i++) {
                    index = parseInt(i / sectionCount);
                    if (arrTemp.length <= index) {
                        arrTemp.push([]);
                    }
                    arrTemp[index].push(list[i]);
                }
                return arrTemp;
            }
        },
        methods: {
            view: function (obj) {
                var url = 'area.html?areaParentId=' + obj.id + '&areaParentName=' + encodeURI(encodeURI((obj.fullName)));
                window.location.href = url;
            },
            to_add: function () {
                layer_show("编辑区域信息", "area_edit.html?areaParentId=" + areaParentId, 600, 500, function () {
                    location.replace(location.href);
                })
            },
            to_up: function () {
                window.location.href = "area.html?areaParentId_up=" + areaParentId;
            },
            editArea: function (obj) {
                layer_show("编辑区域信息", "area_edit.html?id=" + obj.id, 600, 500, function () {
                    location.replace(location.href);
                })
            },
            del: function (id) {
                swal({
                    title: "您确定要删除这条记录吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    closeOnConfirm: false
                }, function () {
                    axios.delete(zmme + "/area/delete/" + id).then(function (response) {
                        var result = response.data;
                        if (result.code == 0) {
                            swal({title: "删除成功", test: result.message, type: "success"}, function () {
                                if (areaParentId)
                                    window.location.href = "area.html?areaParentId=" + areaParentId + '&areaParentName=' + vm.parentArea;
                                else
                                    window.location.href = "area.html";
                            });
                        } else {
                            swal("删除失败", result.message, "error");
                        }
                    }).catch(function () {
                        swal("服务器请求出错", "请联系网站管理员", "error");
                    })
                });
            }
        }
    })
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>