<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/plugins/sweetalert/sweetalert.css">
</head>

<body>
    <div id="app" style="margin-top:30px">
		<form class=" form-horizontal" id="editJob" name="myform" @submit.prevent="onSubmit">
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>分类名称:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="" id="className" name="className" v-model="model.className" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>分类状态:</label>
				<div class="col-sm-6">
					<lable class="radio-inline">
						<input type="radio" id="status-1" name="status" value="true" checked v-model="model.status" />
						<label for="status-1" >显示</label>
					</lable>
					<lable class="radio-inline">
						<input type="radio" id="status-0" name="status" value="false" v-model="model.status" />
						<label for="status-0" >隐藏</label>
					</lable>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">描述：</label>
				<div class="col-sm-6">
					<textarea name="description" v-model="model.description" class="form-control" cols="" rows="5" placeholder="说点什么...255个字符以内"
					 dragonfly="true"></textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/255</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>

    <script type="text/javascript" src="../../../js/base.js"></script>
    <script type="text/javascript" src="../../../plugins/jquery.validation/jquery.validate.js"></script>
    <script type="text/javascript" src="../../../plugins/jquery.validation/jquery.validate-default.js"></script>
    <script>
        var parmObj = getLocalUrlParms();

        //初始化表单校验
        $(function () {
            $("#editJob").validate({
                rules: {
                    className: "required"
                },
                messages: {
                    className: "请输入分类名称"
                }
            });
        });

        var editJob = new Vue({
            el: "#editJob",
            data: {
                model: {
                    status: true,
                    type: 0
                }
            },
            //页面初始化时执行
            created: function () {
                //判断如果是修改则渲染数据
                if (parmObj.opration == 'edit') {
                    //设置请求地址
                    var uuid = parmObj.uuid;
                    axios.get(zmme + "/baseData/query/" + uuid).then((response) => {
                        var result = response.data;
                        console.log(result.data);
                        if (result.code == 0) {
                            this.model = result.data;
                        } else {
                            swal("错误！", result.message, "error");
                        }
                    });
                }
            },
            methods: {
                onSubmit: function () {
					//验证表单
					$("#editJob").validate();
					//保存数据
					if ($("#editJob").valid()) {
						submit(this.model);
					}
				}
            }
        })

        function submit(){
             var formData = editJob.model;
             var method = "POST";
             var url = "";
             if (editJob.model.uuid) {
                method = "PUT";
                url = zmme + "/baseData/update";
             }else{
                url = zmme + "/baseData/create";
             }

            //通过验证    
			axios({
				method: method,
				url: url,
				data: formData
			}).then(response => {
				var result = response.data;
				if (result.code == 0) {
					layer_close();
				} else {
					swal("错误！", result.message, "error");
				}
			});
        }
    </script>
</body>

</html>