<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.AccessoriesMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.kingthy.entity.Accessories" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="uuid" property="uuid" jdbcType="CHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="specification" property="specification" jdbcType="VARCHAR" />
        <result column="texture" property="texture" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="supplier" property="supplier" jdbcType="VARCHAR" />
        <result column="linkman" property="linkman" jdbcType="VARCHAR" />
        <result column="linktel" property="linktel" jdbcType="CHAR" />
        <result column="linkphone" property="linkphone" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="category_uuid" property="categoryUuid" jdbcType="CHAR" />
        <result column="source_uuid" property="sourceUuid" jdbcType="CHAR" />
        <result column="measurement" property="measurement" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="is_shrink" property="isShrink" jdbcType="BIT" />
        <result column="is_stock" property="isStock" jdbcType="INTEGER" />
        <result column="image" property="image" jdbcType="LONGVARCHAR" />
        <result column="color" property="color" jdbcType="LONGVARCHAR" />
        <result column="data_file" property="dataFile" jdbcType="LONGVARCHAR" />
        <result column="chartlet_file" property="chartletFile" jdbcType="LONGVARCHAR" />
        <result column="supplier_address" property="supplierAddress" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, create_date, modify_date, creator, modifier, uuid, version, code, name, specification,
        texture, remark, supplier, linkman, linktel, linkphone, faxnum, status, del_flag,
        category_uuid, measurement, price, is_shrink, is_stock,image,color,data_file,chartlet_file,supplier_address
    </sql>
    <select id="findFiles" resultType="com.kingthy.dto.AccessoriesFileDto">
      SELECT uuid,image,data_file as dataFile,chartlet_file as chartletFile FROM accessories
      WHERE del_flag IS FALSE
    </select>

    <select id="findAccessoriesPage" parameterType="com.kingthy.entity.Accessories" resultType="com.kingthy.dto.AccessoriesDto">
        SELECT
          a.code code,
          a.name name,
          mc.full_name categoryName,
          a.status status,
          a.measurement measurement,
          a.specification specification,
          a.texture texture,
          a.uuid uuid
        FROM
          accessories a
          LEFT JOIN source_category mc
            ON a.category_uuid = mc.uuid
        WHERE a.del_flag IS FALSE
        <if test=" code !=null and code !='' ">
            AND a.code LIKE concat('%',#{code},'%')
        </if>
        <if test=" name !=null and name !='' ">
            AND a.name LIKE concat('%',#{name},'%')
        </if>
        <if test=" status != null ">
            AND a.status = #{status}
        </if>
        <if test="categoryUuid !=null and categoryUuid !='' ">
            AND a.category_uuid = #{categoryUuid}
        </if>
        ORDER BY a.create_date DESC
    </select>

    <select id="findAccessoriesPage_COUNT"  resultType="Long">
        SELECT
          COUNT(a.uuid)
        FROM
        accessories a
        WHERE a.del_flag IS FALSE
        <if test=" code !=null and code !='' ">
            AND a.code LIKE concat('%',#{code},'%')
        </if>
        <if test=" name !=null and name !='' ">
            AND a.name LIKE concat('%',#{name},'%')
        </if>
        <if test=" status != null ">
            AND a.status = #{status}
        </if>
        <if test="categoryUuid !=null and categoryUuid !='' ">
            AND a.category_uuid = #{categoryUuid}
        </if>
    </select>

    <select id="findAccessoriesDtoByUuid" resultType="com.kingthy.dto.AccessoriesDto" parameterType="java.lang.String">
        SELECT
          mc.full_name categoryName,
          a.uuid uuid,
          a.version version,
          a.code code,
          a.name name,
          a.specification specification,
          a.texture texture,
          a.remark remark,
          a.supplier supplier,
          a.linkman linkman,
          a.linktel linktel,
          a.linkphone linkphone,
          a.status status,
          a.category_uuid categoryUuid,
          a.source_uuid sourceUuid,
          a.measurement measurement,
          a.price price,
          a.is_shrink isShrink,
          a.is_stock isStock,
          a.supplier_address supplierAddress
        FROM
          accessories a
          LEFT JOIN source_category mc
          ON a.category_uuid = mc.uuid
        WHERE a.del_flag IS FALSE
        AND a.uuid = #{uuid}
    </select>

    <select id="findAccessoriesBatchByUuids" resultMap="BaseResultMap" >
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          accessories a
        WHERE a.del_flag IS FALSE
        AND a.uuid IN
        <foreach collection="list" open="(" close=")" item="uuid" separator="," index="i">
             #{uuid}
        </foreach>
    </select>

    <select id="selectAccessoriesByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
         SELECT
        <include refid="Base_Column_List"/>
        FROM
          accessories a
        WHERE a.del_flag IS FALSE
        AND a.code = #{code}
    </select>

    <select id="selectAccessoriesByUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        accessories a
        WHERE a.del_flag IS FALSE
        AND a.uuid = #{uuid}
    </select>

    <select id="selectCountByName" parameterType="java.lang.String" resultType="int" >
        SELECT COUNT(1) FROM accessories WHERE name = #{name} AND del_flag IS FALSE
    </select>

    <select id="selectCountByNameAndUuid" parameterType="java.lang.String" resultType="int" >
        SELECT COUNT(1) FROM accessories WHERE name = #{accessoriesName} AND del_flag IS FALSE AND uuid != #{accessoriesUuid}
    </select>

</mapper>