<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.ClassCategoryMapper" >
  <cache/>
  <resultMap id="BaseResultMap" type="com.kingthy.entity.ClassCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="tree_path" property="treePath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
  </resultMap>


  <!-- 修改描述、分类名等 -->
  <update id="updateByUuid" parameterType="com.kingthy.entity.ClassCategory">
    update class_category c set
      c.class_name = #{className,jdbcType=CHAR},
      c.description = #{description,jdbcType=CHAR},
      c.modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      c.status = #{status,jdbcType=BIT},
      c.modifier = #{modifier,jdbcType=CHAR}
    where
    c.del_flag is false
    and
    c.uuid = #{uuid}
  </update>

  <select id="findByPage" parameterType="com.kingthy.entity.ClassCategory" resultMap="BaseResultMap">
    SELECT id, create_date, modify_date, version, orders, grade, uuid, parent_id, class_name,
    tree_path, status, description, creator, modifier, del_flag, goods_num
    FROM class_category
    where
    del_flag is false
    <if test="className != null">
      AND class_name LIKE concat('%',#{className},'%')
    </if>
    ORDER BY
    modify_date DESC
  </select>

  <select id="findByPage_COUNT"  resultType="Long">
    SELECT COUNT(uuid)
    FROM class_category c
    where
    c.del_flag is false
    <if test="className != null">
      AND c.class_name LIKE concat('%',#{className},'%')
    </if>
  </select>

  <!-- 批量更新节点的父节点id -->
  <update id="updateParentIdBatch" parameterType="java.util.Map">
    update class_category c set
    c.parent_id=#{target},
    c.modify_date = #{modifyDate},
    c.modifier = #{modifier}
    where
    c.parent_id=#{source}
    and
    c.del_flag is false
  </update>

  <!-- 根据根节点uuid查询其所有子孙节点，包括他自己的uuid -->
  <select id="findChildUuidsByParentId" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT getChild_class_category(#{parentId});
  </select>

  <!-- 批量修改节点层级 -->
  <update id="updateGradeBatch" parameterType="java.util.Map">
    update class_category c set
    c.grade = c.grade + #{gradeChange}
    where
    c.del_flag is false
    and
    c.uuid
    in
    <foreach collection="uuidString" item="categoryUuid" index="" open="(" close=")" separator=",">
      #{categoryUuid}
    </foreach>
  </update>

  <!-- 根据uuid修改单个节点的父节点 -->
  <update id="updateParentId" parameterType="java.util.Map">
    update class_category c set
    c.parent_id = #{newParentId}
    where
    c.del_flag is false
    and
    c.uuid = #{uuid}
  </update>

  <!-- 修改单个节点信息：描述、分类名等 -->
  <update id="updateCategory" parameterType="com.kingthy.entity.ClassCategory">
    update class_category c set
    c.class_name = #{className},
    c.description = #{description},
    c.modify_date = #{modifyDate},
    c.modifier = #{modifier}
    where
    c.del_flag is false
    and
    c.uuid = #{uuid}
  </update>

  <update id ="updateGoodsNum">
    UPDATE class_category cc
    SET
    cc.goods_num = (
    SELECT
    COUNT(g.id)c
    FROM
    goods g
    WHERE
    goods_category_uuid = cc.uuid
    )
  </update>

  <select id="getTree" resultType="com.kingthy.dto.CategoryTreeDto">
    select class_name as className,grade,`uuid`,parent_id as parentId from class_category
    where
    del_flag is false
  </select>


  <!--批量更新-->
  <update id="batchUpdateGoodsNum" >

    UPDATE class_category
    <trim prefix="set" suffixOverrides=",">
      <trim prefix=" goods_num = case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          when uuid = #{item.paramenterUuid} then  #{item.count}
        </foreach>
      </trim>
    </trim>
    WHERE
    <foreach collection="list" separator="or" item="item" index="index">
      uuid= #{item.paramenterUuid}
    </foreach>
  </update>

  <select id="selectNameByUuids" resultType="com.kingthy.entity.ClassCategory">
     select uuid,class_name className
     from class_category where uuid in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="queryClassCategory" resultType="com.kingthy.response.ClassCategoryResp">
    SELECT c.class_name AS topName,c1.class_name as className,c1.uuid FROM class_category
    c,class_category c1 WHERE c.del_flag IS FALSE AND c1.parent_id=c.uuid  AND c.del_flag IS FALSE AND c.status=1
  </select>

  <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT version, orders, grade, uuid, parent_id, class_name,
    tree_path, status, description, creator, modifier, del_flag, goods_num
    FROM class_category
    where
    del_flag is false
    AND
    uuid =#{uuid}
  </select>
</mapper>