<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.MaterialMapper">
    <select id="selectColor" resultType="string">
        select concat('(',rgb,')') AS rgb  from base_colour_info where code like concat(#{rgb},"%");
    </select>

    <select id="findMaterialPage" resultType="com.kingthy.dto.MaterialDto" parameterType="com.kingthy.entity.Material">
        SELECT m.code code,m.name name,mc.full_name categoryName,m.status status,
        m.length length,m.weight weight,m.uuid uuid
        FROM material m LEFT JOIN source_category mc
        ON m.category_uuid = mc.uuid
        WHERE m.del_flag IS FALSE
        <if test=" code !=null and code !='' ">
            AND m.code LIKE concat('%',#{code},'%')
        </if>
        <if test=" name !=null and name !='' ">
            AND m.name LIKE concat('%',#{name},'%')
        </if>
        <if test="categoryUuid !=null and categoryUuid !='' ">
            AND m.category_uuid = #{categoryUuid}
        </if>
        <if test=" status !=null ">
            AND m.status = #{status}
        </if>
        ORDER BY m.create_date DESC
    </select>

    <select id="findMaterialPage_COUNT" resultType="Long">
        SELECT count(m.uuid)
        FROM material m
        WHERE m.del_flag IS FALSE
        <if test=" code !=null and code !='' ">
            AND m.code LIKE concat('%',#{code},'%')
        </if>
        <if test=" name !=null and name !='' ">
            AND m.name LIKE concat('%',#{name},'%')
        </if>
        <if test="categoryUuid !=null and categoryUuid !='' ">
            AND m.category_uuid = #{categoryUuid}
        </if>
        <if test=" status !=null ">
            AND m.status = #{status}
        </if>
    </select>

    <select id="findMaterialByUuid" parameterType="java.lang.String" resultType="com.kingthy.dto.MaterialDto">
        SELECT m.uuid,m.version,m.code,m.name,m.length,m.weight,m.remark,m.supplier,m.linkman,m.linktel,
        m.linkphone,m.status,
        m.category_uuid categoryUuid,
        m.source_uuid sourceUuid,
        m.measurement,m.yarn_count yarnCount,
        m.is_shrink isShrink,m.price,m.is_stock isStock,m.washing_req washingReq,
        m.supplier_address supplierAddress,mc.full_name categoryName,m.del_flag delFlag
        FROM material m LEFT JOIN source_category mc
        ON m.category_uuid = mc.uuid
        WHERE m.del_flag IS FALSE
        AND m.uuid = #{uuid}
    </select>

    <select id="findMaterialByUuidList" resultType="com.kingthy.entity.Material">
        SELECT m.uuid,m.version,m.code,m.name,m.length,m.weight,m.remark,m.supplier,m.linkman,m.linktel,
        m.linkphone,m.status,m.category_uuid categoryUuid,m.measurement,m.yarn_count yarnCount,
        m.is_shrink isShrink,m.price,m.is_stock isStock,m.washing_req washingReq,
        m.supplier_address supplierAddress,m.del_flag delFlag
        FROM material m
        WHERE m.del_flag IS FALSE
        AND m.uuid IN
        <foreach collection="list" index="" separator="," item="uuid" open="(" close=")">
            #{uuid}
        </foreach>
    </select>

    <select id="selectMaterialByUuid" resultType="com.kingthy.entity.Material" parameterType="java.lang.String">
         SELECT m.uuid,m.version,m.code,m.name,m.length,m.weight,m.remark,m.supplier,m.linkman,m.linktel,
        m.linkphone,m.status,m.category_uuid categoryUuid,m.measurement,m.yarn_count yarnCount,
        m.is_shrink isShrink,m.price,m.is_stock isStock,m.washing_req washingReq,
        m.supplier_address supplierAddress
        FROM material m
        WHERE m.del_flag IS FALSE
        AND   m.uuid = #{uuid}
    </select>

    <select id="selectCountByName" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1) FROM material WHERE name = #{name} AND del_flag IS FALSE
    </select>

    <select id="selectCountByNameAndUuid" parameterType="java.lang.String" resultType="int" >
        SELECT COUNT(1) FROM material WHERE name = #{materialName} AND del_flag IS FALSE AND uuid != #{materialUuid}
    </select>

    <!-- 查询顶级分类下的所有资源信息 -->
    <select id="queryResourceInfoBySubCategory" parameterType="com.kingthy.request.QueryResourceInfoReq"
            resultType="com.kingthy.response.QueryResourceInfoResp">
        SELECT
        mi.id,
        m.name,
        m.uuid,
        mi.colour_rgb,
        m.code,
        mi.colour_idx,
        mi.image_path,
        mi.file_path
        FROM
        <if test="sourceType == 1">
            material m
        </if>
        <if test="sourceType == 2">
            accessories m
        </if>

        LEFT JOIN
        <if test="sourceType == 1">
            material_images mi
        </if>
        <if test="sourceType == 2">
            accessories_images mi
        </if>

        <if test="sourceType == 1">
            ON m.uuid = mi.material_uuid
        </if>
        <if test="sourceType == 2">
            ON m.uuid = mi.accessories_uuid
        </if>
        WHERE m.status = 0 AND m.source_uuid=#{sourceUuid}
        AND mi.del_flag IS FALSE
        <if test=" materialName !=null and materialName!='' ">
            AND m.name LIKE concat('%',#{materialName},'%')
        </if>
        <if test="materialCode !=null and materialCode !='' ">
            AND m.code = #{materialCode}
        </if>
    </select>
</mapper>