<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.OperateFashionCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.entity.OperateFashionCollection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="collection_name" property="collectionName" jdbcType="VARCHAR" />
    <result column="banners" property="banners" jdbcType="VARCHAR" />
    <result column="temperature" property="temperature" jdbcType="CHAR" />
    <result column="occasion" property="occasion" jdbcType="CHAR" />
    <result column="color" property="color" jdbcType="CHAR" />
    <result column="style" property="style" jdbcType="CHAR" />
    <result column="cloth_model" property="clothModel" jdbcType="VARCHAR" />
    <result column="cloth_model_pic" property="clothModelPic" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findByPage" parameterType="com.kingthy.request.OperateFashionCollectionReq"
          resultMap="BaseResultMap">
    SELECT uuid,collection_name,banners,create_date,STATUS FROM operate_fashion_collection
    WHERE del_flag IS FALSE
    <if test=" collectionName != null and collectionName!='' ">
      AND collection_name LIKE concat('%',#{collectionName},'%')
    </if>
    <if test="status!=null">
      AND status = #{status.value}
    </if>
    <if test="startTime !=null">
      <![CDATA[ AND create_date  >=  #{startTime}  ]]>
    </if>
    <if test="endTime !=null "  >
      <![CDATA[ AND create_date <=  #{endTime}  ]]>
    </if>
    ORDER BY create_date DESC
  </select>

  <select id="findByPage_COUNT" resultType="Long">
    SELECT COUNT(uuid) FROM operate_fashion_collection
    WHERE del_flag IS FALSE
    <if test=" collectionName != null and collectionName!='' ">
      AND collection_name LIKE concat('%',#{collectionName},'%')
    </if>
    <if test="status!=null">
      AND status = #{status.value}
    </if>
    <if test="startTime !=null">
      <![CDATA[ AND create_date  >=  #{startTime}  ]]>
    </if>
    <if test="endTime !=null "  >
      <![CDATA[ AND create_date <=  #{endTime}  ]]>
    </if>
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT uuid,collection_name,version,status,collection_name,banners,temperature,occasion,color,style,cloth_model,
    cloth_model_pic FROM operate_fashion_collection
    WHERE del_flag IS FALSE
    AND uuid = #{uuid}
  </select>
</mapper>