<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.SkirtCategoryMapper">

    <select id="findByPage" resultType="com.kingthy.entity.SkirtCategory" parameterType="com.kingthy.entity.SkirtCategory">
        SELECT id,create_date createDate,modify_date modifyDate,version,class_name className,orders,grade,
        parent_id parentId,uuid,status,description,type,goods_num goodsNum
        FROM skirt_category
        WHERE del_flag is FALSE
        <if test="type!=null">
            AND type = #{type}
        </if>
        <if test="parentId!=null and parentId!='' ">
            AND parent_id = #{parentId}
        </if>
        <if test="grade!=null">
            AND grade = #{grade}
        </if>
        ORDER BY create_date DESC
    </select>

    <select id="findByPage_COUNT" resultType="Long" >
        SELECT count(uuid)
        FROM skirt_category
        WHERE del_flag is FALSE
        <if test="type!=null">
            AND type = #{type}
        </if>
        <if test="parentId!=null and parentId!='' ">
            AND parent_id = #{parentId}
        </if>
        <if test="grade!=null">
            AND grade = #{grade}
        </if>
    </select>

    <select id="selectByUuid" resultType="com.kingthy.entity.SkirtCategory" parameterType="java.lang.String">
        SELECT id,create_date createDate,modify_date modifyDate,version,class_name className,orders,grade,
        parent_id parentId,uuid,status,description,type,goods_num goodsNum
        FROM skirt_category
        WHERE del_flag is FALSE
        AND uuid =#{uuid}
    </select>
</mapper>