<?xml version="1.0" encoding="UTF-8" ?>
<!-- ~ The MIT License (MIT) ~ ~ Copyright (c) 2014-2016 abel533@gmail.com 
	~ ~ Permission is hereby granted, free of charge, to any person obtaining 
	a copy ~ of this software and associated documentation files (the "Software"), 
	to deal ~ in the Software without restriction, including without limitation 
	the rights ~ to use, copy, modify, merge, publish, distribute, sublicense, 
	and/or sell ~ copies of the Software, and to permit persons to whom the Software 
	is ~ furnished to do so, subject to the following conditions: ~ ~ The above 
	copyright notice and this permission notice shall be included in ~ all copies 
	or substantial portions of the Software. ~ ~ THE SOFTWARE IS PROVIDED "AS 
	IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR ~ IMPLIED, INCLUDING BUT NOT 
	LIMITED TO THE WARRANTIES OF MERCHANTABILITY, ~ FITNESS FOR A PARTICULAR 
	PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE ~ AUTHORS OR COPYRIGHT 
	HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER ~ LIABILITY, WHETHER IN 
	AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, ~ OUT OF OR IN CONNECTION 
	WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN ~ THE SOFTWARE. -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.SuitCategoryMapper">
	<select id="findByPage" resultType="com.kingthy.entity.SuitCategory" parameterType="com.kingthy.entity.SuitCategory">
		SELECT id,create_date createDate,modify_date modifyDate,version,class_name className,orders,grade,
		parent_id parentId,uuid,status,description,type,goods_num goodsNum
		FROM suit_category
		WHERE del_flag is FALSE
		<if test="type!=null ">
			AND type =#{type}
		</if>
		<if test="parentId!=null and parentId!='' ">
			AND parent_id =#{parentId}
		</if>
		<if test="grade!=null ">
			AND grade =#{grade}
		</if>
		ORDER BY create_date DESC
	</select>

	<select id="findByPage_COUNT" resultType="Long" >
		SELECT count(uuid)
		FROM suit_category
		WHERE del_flag is FALSE
		<if test="type!=null ">
			AND type =#{type}
		</if>
		<if test="parentId!=null and parentId!='' ">
			AND parent_id =#{parentId}
		</if>
		<if test="type!=null ">
			AND grade =#{grade}
		</if>
	</select>

	<select id="selectByUuid" parameterType="java.lang.String" resultType="com.kingthy.entity.SuitCategory">
		SELECT version,class_name className,orders,grade,
		parent_id parentId,uuid,status,description,type,goods_num goodsNum
		FROM suit_category
		WHERE del_flag is FALSE
		AND uuid=#{uuid}
	</select>
</mapper>