<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.MomentCommentMapper" >
  <cache></cache>
  <resultMap id="BaseResultMap" type="com.kingthy.entity.MomentComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modeifier" property="modeifier" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="parent_uuid" property="parentUuid" jdbcType="CHAR" />
    <result column="parent_nick" property="parentNick" jdbcType="VARCHAR" />
    <result column="moment_uuid" property="momentUuid" jdbcType="CHAR" />
    <result column="member_head" property="memberHead" jdbcType="VARCHAR" />
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_uuid" property="memberUuid" jdbcType="CHAR" />
    <result column="like_amount" property="likeAmount" jdbcType="BIGINT" />
    <result column="context" property="context" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="MomentCommentDtoMap" type="com.kingthy.dto.MomentCommentDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modeifier" property="modeifier" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="parent_uuid" property="parentUuid" jdbcType="CHAR" />
    <result column="parent_nick" property="parentNick" jdbcType="VARCHAR" />
    <result column="moment_uuid" property="momentUuid" jdbcType="CHAR" />
    <result column="member_head" property="memberHead" jdbcType="VARCHAR" />
    <result column="member_nick" property="memberNick" jdbcType="VARCHAR" />
    <result column="member_uuid" property="memberUuid" jdbcType="CHAR" />
    <result column="like_amount" property="likeAmount" jdbcType="BIGINT" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="islike" property="isLike" jdbcType="VARCHAR" />
    <result column="isdel" property="isDel" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Dto_List" >
    mc.id, mc.create_date, mc.modify_date, mc.version, mc.creator, mc.modeifier, mc.uuid, mc.del_flag, mc.parent_uuid, mc.parent_nick, mc.moment_uuid,
    mc.member_head, mc.member_nick, mc.member_uuid, mc.like_amount, mc.context,CASE WHEN l.uuid is null THEN false ELSE true END as islike
  </sql>

  <update id="updateLikes">
    update moment_comment SET
    like_amount = like_amount+#{likes}
    where uuid = #{uuid}
  </update>

  <select id="selectComment" resultMap="MomentCommentDtoMap">
    SELECT
    <include refid="Base_Dto_List"/>,
    CASE
    WHEN mc.member_uuid = #{memberUuid} THEN
    true
    ELSE
    false
    END AS isdel
    FROM
    moment_comment mc
    left join likes l on mc.uuid = l.moment_uuid
    and l.member_uuid = #{memberUuid}
    WHERE
    mc.moment_uuid = #{momentUuid} AND mc.del_flag = FALSE  ORDER BY mc.like_amount desc , mc.create_date desc
  </select>

  <select id="selectComment_COUNT" resultType="Long">
    SELECT
      COUNT(DISTINCT mc.uuid)
    FROM
    moment_comment mc
    left join likes l on mc.uuid = l.moment_uuid
    and l.member_uuid = #{memberUuid}
    WHERE
    mc.moment_uuid = #{momentUuid} AND mc.del_flag = FALSE  ORDER BY mc.like_amount desc , mc.create_date desc
  </select>

</mapper>