<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <title>售后管理</title>
</head>

<body>

<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span
        class="c-gray en">&gt;</span> 售后管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新"><i class="glyphicon glyphicon-refresh"></i></a>
</nav>
<div class="page-container">
    <!--操作按钮-->
    <div class="text-c" id="search">
        订单编号：<input type="text" placeholder="订单编号" style="width:250px" class="input-text" v-model="model.orderSn"/>
        商品名称：<input type="text" placeholder="商品名称" style="width:250px" class="input-text" v-model="model.goodsName"/>
        申请售后时间：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'beginDate\')||\'%y-%M-%d\'}'})"
               class="input-text Wdate" style="width:120px;" id="beginDate"/>
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'endDate\')}'})"
               class="input-text Wdate" style="width:120px;" id="endDate"/><br>
        售后状态：
        <span class="select-box inline">
            <select class="select" v-model="model.status">
                <option :value="null">全部</option>
                <option :value="0">发起售后</option>
                <option :value="1">审核通过</option>
                <option :value="2">厂家确认收货,待生产</option>
                <option :value="3">生产中</option>
                <option :value="4">已包装发货，等待收货</option>
                <option :value="5">已收货</option>
                <option :value="6">已评价 </option>
            </select>
        </span>
        用户：<input type="text" placeholder="用户" style="width:250px" class="input-text" v-model="model.memberName"/>
        换货说明：<input type="text" placeholder="换货说明" style="width:250px;" class="input-text" v-model="model.memo"/>
        <span style="width: 100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-success" type="button" @click="search">搜索</button>

        <!--以下为弹窗DOM元素-->
        <form id="rejectForm">
            <div id="reject" style="display: none">
                <div style="padding: 30px">
                    <div class="row cl">
                        <label style="margin-left: -450px">审核不通过理由：</label>
                    </div>
                    <div class="row cl" style="padding-bottom: 10px">
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea class="textarea" placeholder="输入不通过理由" v-model="model.rejectReason"
                                      required minlength="3"></textarea>
                        </div>
                    </div>
                    <input class="btn btn-success" type="button" value="确认" @click="reject" style="margin-left: -450px">
                </div>
            </div>
        </form>

        <form id="agreeForm">
            <div id="agree" style="display: none">
                <div style="padding: 30px">
                    <div class="row cl">
                        <label style="margin-left: -600px">确定退货地址：</label>
                    </div>
                    <!--<div class="row cl" style="padding: 5px">
                        <label class="form-label col-xs-3 col-sm-2">用户：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" placeholder="用户" name="name" v-model="model.name"
                                   required minlength="2"/>
                        </div>
                    </div>
                    <div class="row cl" style="padding: 5px">
                        <label class="form-label col-xs-3 col-sm-2">联系电话：</label>
                        <div class="formControls col-xs-8 col-sm-8">
                            <input type="phone" class="input-text" placeholder="联系电话" name="phone" v-model="model.phone"
                                   required/>
                        </div>
                    </div>
                    <div class="row cl" style="padding: 5px">
                        <label class="form-label col-xs-3 col-sm-2">邮政编码：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" placeholder="邮政编码" name="postal"
                                   v-model="model.postal"
                                   required/>
                        </div>
                    </div>
                    <div class="row cl" style="padding: 5px">
                        <label class="form-label col-xs-3 col-sm-2">收货地址：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <textarea class="textarea" placeholder="收货地址" name="address" v-model="model.address"
                                      required minlength="6"></textarea>
                        </div>
                    </div>-->
                    <div class="row cl" style="padding: 5px">
                        <label class="form-label col-xs-3 col-sm-2">收货地址：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <select v-model="refundsAddrUuid" class="select-box" name="refundsAddrUuid" required>
                                <option v-for="refundsAddr in refundsAddrs" :value="refundsAddr.uuid">
                                    {{refundsAddr.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <input class="btn btn-success" type="button" value="确认" @click="agree" style="margin-left: -450px">
                </div>
            </div>
        </form>
        <!--以上为弹窗DOM元素-->
    </div>
    <!--数据列表 -->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th data-field="orderSn" data-halign="left" data-valign="middle" data-align="left">订单编号
                </th>
                <th data-field="orderCreateDate" data-halign="left" data-valign="middle" data-align="left">下单时间
                </th>
                <th data-field="paymentDate" data-halign="left" data-valign="middle" data-align="left">付款时间
                </th>
                <th data-field="goodsName" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="goodsDetail">商品信息
                </th>
                <th data-field="memberName" data-halign="left" data-valign="middle"
                    data-align="left">用户
                </th>
                <th data-field="applyServiceName" data-halign="left" data-valign="middle"
                    data-align="left">申请服务
                </th>
                <th data-field="exchangeReason" data-halign="left" data-valign="middle" data-align="left">换货原因
                </th>
                <th data-field="memo" data-halign="left" data-valign="middle" data-align="left">换货说明</th>
                <th data-field="img" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="imgFormatter">上传凭证
                </th>
                <th data-field="applyCreateDate" data-halign="left" data-valign="middle" data-align="left">申请时间
                </th>
                <th data-field="status" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="statusFormatter">状态
                </th>
                <th data-field="action" data-formatter="actionFormatter" data-events="operateEvents"
                    data-halign="center"
                    data-valign="middle" data-align="center">操作
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../js/table.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        $("table thead th input:checkbox").on("click", function () {
            $(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"))
        });
        $("#rejectForm").validate();
        $("#agreeForm").validate();
    })
    //初始化表格
    var setting = {
        tableId: '#tablelist',
        url: zmme + "/afterSale/list",
        pagination: true,
        pageSize: 10,
        method: "post"
    };
    initTable(setting);
    var vm = new Vue({
        el: '#search',
        data: {
            model: {
                orderSn: null,
                goodsName: null,
                beginDate: null,
                endDate: null,
                memo: null,
                status: null,
                uuid: null,
                rejectReason: null,
                name: null,
                phone: null,
                postal: null,
                address: null
            },
            refundsAddrUuid: '',
            refundsAddrs: ''
        },
        created: function () {
            axios.get(zmme + "/partsCategory/queryAll").then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.refundsAddrs = result.data;
            })
        },
        methods: {
            search: function () {
                vm.model.beginDate = new Date($('#beginDate').val()).getTime();
                vm.model.endDate = new Date($('#endDate').val()).getTime();
                searchTable({tableId: '#tablelist', url: zmme + "/afterSale/list"}, vm.model);
            },
            reject: function () {
                var dom = $('#rejectForm div').eq(0).attr('id');
                dom = dom.substr(dom.indexOf('layer') + 5);
                if ($('#rejectForm').valid()) {
                    var param = {
                        "memberUuid": memberUuid,
                        "rejectReason": vm.model.rejectReason,
                        "uuid": vm.model.uuid
                    };
                    options("/afterSale/reject", param);
                    layer.close(dom);
                }
            },
            agree: function () {
                var dom = $('#rejectForm div').eq(0).attr('id');
                dom = dom.substr(dom.indexOf('layer') + 5);
                if ($('#agreeForm').valid()) {
                    var param = {
                        "memberUuid": memberUuid,
                        "status": 1,
                        "uuid": vm.model.uuid,
                        refundsAddrUuid: vm.refundsAddrUuid
                    };
                    options("/afterSale/edit/status", param);
                    layer.close(dom);
                }
            }
        }
    })

    //添加操作按钮
    function actionFormatter(value, row, index) {
        var html = '<div>';
        /*0:发起售后 1:-审核通过 2:厂家确认收货,待生产 3:生产中 4:已包装发货，等待收货 5:已收货 6:已评价
         */
        switch (row.status) {
            case 1:
                html += '<a title="确认收货"><i style="font-size: 12px" class="btn btnReceipt glyphicon btn-link">确认收货</i></a>';
                break;
            case 2:
                html += '<a title="查看生产进度"><i style="font-size: 12px" class="btn btnProduceDetail glyphicon btn-link">查看生产进度</i></a>';
                break;
            case 3:
                html += '<a title="发货"><i style="font-size: 12px" class="btn btnShip glyphicon btn-link">发货</i></a>';
                break;
            case 4:
                html += '<a title="查看物流进度"><i style="font-size: 12px" class="btn btnLogistics glyphicon btn-link">查看物流进度</i></a>';
                break;
            case 5:
                html += '<a title="删除"><i style="font-size: 12px" class="btn btnDelete glyphicon btn-link">删除</i></a>';
                break;
            case 6:
                html += '<a title="查看评价"><i style="font-size: 12px" class="btn btnEvaluation glyphicon btn-link">查看评价</i></a>';
                break;
            default:
                html += '<a title="审核通过"><i style="font-size: 12px" class="btn btnAgree glyphicon btn-link">审核通过</i></a>';
                html += '<a title="审核不通过"><i style="font-size: 12px" class="btn btnReject glyphicon btn-link">审核不通过</i></a>';
        }
        html += '</div>';
        return [html].join('');
    }

    //注册按钮点击事件
    window.operateEvents = {
        'click .btnAgree': function (e, value, row, index) {
            agree(row);
        },
        'click .btnReject': function (e, value, row, index) {
            reject(row);
        },
        'click .btnReceipt': function (e, value, row, index) {
            receipt(row);
        },
        'click .btnProduceDetail': function (e, value, row, index) {
            produceDetail(row);
        },
        'click .btnShip': function (e, value, row, index) {
            ship(row);
        },
        'click .btnLogistics': function (e, value, row, index) {
            logistics(row);
        },
        'click .btnDelete': function (e, value, row, index) {
            deleteAfterSale(row);
        },
        'click .btnEvaluation': function (e, value, row, index) {
            evaluation(row);
        }
    }

    function agree(row) {
        vm.model.uuid = row.uuid;
        layer.open({
            type: 1,
            title: "审核通过",
            area: ['800px', '300px'],
            shade: 0.3,
            content: $('#agree'),
            scrollbar: false
        })
    }

    function reject(row) {
        vm.model.uuid = row.uuid;
        layer.open({
            type: 1,
            title: "审核不通过",
            area: ['600px', '300px'],
            shade: 0.3,
            content: $('#reject'),
            scrollbar: false
        })
    }
    /*{
     "delFlag": false,
     "memberUuid": "string",
     "shippingNumber": "string",
     "status": 0,
     "uuid": "string"
     }*/
    function options(url, param) {
        swal("操作成功！", "", "success");
        axios.put(zmme + url, param).then(function (response) {
            var result = response.data;
            if (result.code == 0) {
                swal("操作成功！", "", "success");
                refreshTable(setting.tableId);
            } else {
                swal("操作失败！", result.message, "error");
            }
        })
    }

    function receipt(row) {
        var param = {
            "memberUuid": memberUuid,
            "status": 2,
            "uuid": row.uuid
        };
        options("/afterSale/edit/status", param);
    }

    function produceDetail(row) {
        swal({title: "查看生产进度", text: "查看生产进度", type: "info"}, function () {
            var param = {
                "memberUuid": memberUuid,
                "status": 3,
                "uuid": row.uuid
            };
            options("/afterSale/edit/status", param);
        });
    }

    function ship(row) {
        layer.prompt({formType: 0, value: '', title: "填写物流单号"}, function (value, index, elem) {
            var param = {
                "memberUuid": memberUuid,
                "status": 4,
                "shippingNumber": value,
                "uuid": row.uuid
            };
            options("/afterSale/edit/status", param);
            layer.close(index);
        })
    }

    function logistics(row) {
        swal({title: "查看物流进度", text: "查看物流进度", type: "info"}, function () {
            var param = {
                "memberUuid": memberUuid,
                "status": 5,
                "uuid": row.uuid
            };
            options("/afterSale/edit/status", param);
        });
    }

    function deleteAfterSale(row) {
        swal({
            title: "您确定要删除这条售后吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            var param = {
                "delFlag": true,
                "memberUuid": memberUuid,
                "uuid": row.uuid
            };
            axios.post(zmme + "/afterSale/edit/status", param).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal("删除成功！", "您已经成功删除了这条售后。", "success");
                    refreshTable(setting.tableId);
                } else {
                    swal("删除失败！", result.message, "error");
                }
            })
        });
    }

    function evaluation(row) {
        axios.get("/afterSale/comment/" + row.uuid).then(function (response) {
            var data = response.data;
            swal("删除成功！", "您已经成功删除了这条售后。", "success");
        })
    }
    /*0:发起售后 1:-审核通过 2:厂家确认收货,待生产 3:生产中 4:已包装发货，等待收货 5:已收货 6:已评价
     */
    function statusFormatter(value, row, index) {
        var div = "-";
        switch (value) {
            case 1:
                div = "审核通过";
                break;
            case 2:
                div = "厂家确认收货,待生产";
                break;
            case 3:
                div = "生产中";
                break;
            case 4:
                div = "已包装发货，等待收货";
                break;
            case 5:
                div = "已收货";
                break;
            case 6:
                div = "已评价";
                break;
            default:
                div = "发起售后";
        }
        return div;
    }

    function imgFormatter(value, row, index) {
        var array = JSON.parse(value);
        var div = '';
        for (var i = 0; i < array.length; i++) {
            div += "<img src='" + array[i] + "' width='50px'/>";
        }
        return div;
    }

    function goodsDetail(value, row, index) {
        var div = '', left = 0;
        if (Boolean(row.cover)) {
            left = 50;
            div += "<div style='position: absolute;'><img src='" + row.cover + "'/></div>";
        }
        div += "<div style='position: relative;left: " + left + "px;top: 0px;'><strong>" + row.goodsName + "</strong><strong style='color: blue'>&nbsp;ｘ" + row.quantity + "&nbsp;&nbsp;&nbsp;</strong></div>";
        div += "<div style='position: relative;left: " + left + "px;top: 0px'><strong style='color: red'>￥" + row.amount + "元</strong></div>";
        return div;
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>