<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>

    <title>订单管理</title>
</head>

<body>

<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span
        class="c-gray en">&gt;</span> 订单管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新"><i class="glyphicon glyphicon-refresh"></i></a>
</nav>
<div class="page-container">
    <!--操作按钮-->
    <div class="text-c" id="search">
        订单编号：<input type="text" placeholder="订单编号" style="width:150px" class="input-text" v-model="model.sn"/>
        会员：<input type="text" placeholder="会员" style="width:150px" class="input-text" v-model="model.memberName"/>
        下单时间：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}'})"
               class="input-text Wdate" style="width:120px;" id="beginTime"/>
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}'})"
               class="input-text Wdate" style="width:120px;" id="endTime"/>
        价格区间：
        <input type="text" class="input-text" style="width:50px" v-model="model.priceMin">
        -
        <input type="text" class="input-text" style="width:50px" v-model="model.priceMax">
        设计师：<input type="text" placeholder="会员" style="width:150px" class="input-text" v-model="model.desingerName"/>
        订单状态：
        <span class="select-box inline">
		<select class="select" v-model="model.status">
			<option :value="null">全部</option>
			<option :value="0">代付款</option>
			<option :value="1">生产中</option>
			<option :value="2">待发货</option>
			<option :value="3">待签收</option>
			<option :value="4">待评价</option>
			<option :value="5">已取消</option>
			<option :value="6">待退单</option>
			<option :value="7">已完成</option>
		</select>
		</span>
        <button class="btn btn-success" type="button" @click="search">搜索</button>
    </div>
    <!--数据列表 -->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th data-field="uuid" data-width="25px" data-formatter="checkBoxFormatter" data-valign="middle"
                    data-align="center"><input type="checkbox"/>全选
                </th>
                <th data-field="sn" data-halign="left" data-valign="middle" data-align="left">订单编号
                </th>
                <th data-field="amount" data-halign="left" data-valign="middle"
                    data-align="left">订单金额
                </th>
                <th data-field="memberName" data-halign="left" data-valign="middle"
                    data-align="left">会员
                </th>
                <th data-field="paymentMethodType" data-halign="left" data-valign="middle" data-align="left">支付方式</th>
                <th data-field="orderAddress" data-halign="left" data-valign="middle" data-align="left">下单地区</th>
                <th data-field="shippingMethodName" data-halign="left" data-valign="middle" data-align="left">配送方式</th>
                <th data-field="isInvoice" data-halign="left" data-valign="middle" data-align="left" data-formatter="isInvoiceFormatter">是否需要发票</th>
                <th data-field="status" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="statusFormatter">状态
                </th>
                <th data-field="createDate" data-halign="left" data-valign="middle" data-align="left">下单时间</th>
                <th data-field="paymentDate" data-halign="left" data-valign="middle" data-align="left">支付时间</th>
                <th data-field="action" data-formatter="actionFormatter" data-events="operateEvents"
                    data-halign="center"
                    data-valign="middle" data-align="center">操作
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../js/table.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //初始化表格
    var setting = {
        tableId: '#tablelist',
        url: zmme + "/orderItem/list",
        pagination: true,
        pageSize: 10,
        method: "post"
    };
    initTable(setting);
    $(function () {
        $("table thead th input:checkbox").on("click", function () {
            $(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"))
        });

        var vm = new Vue({
            el: '#search',
            data: {
                model: {
                    sn: null,
                    beginTime: null,
                    endTime: null,
                    desingerName: null,
                    memberName: null,
                    priceMin: null,
                    priceMax: null,
                    status: null
                }
            },
            methods: {
                search: function () {
                    vm.model.beginTime = new Date($('#beginTime').val()).getTime();
                    vm.model.endTime = new Date($('#endTime').val()).getTime();
                    searchTable({tableId: '#tablelist', url: zmme + "/orderItem/list"}, vm.model);
                }
            }

        })
    })
    //添加操作按钮
    function actionFormatter(value, row, index) {
        var html = '<div>';
        html += '<a title="查看"><i class="btn btnView glyphicon glyphicon-file"></i></a>';
        if (row.status == '0')
            html += '<a title="取消订单" class="btn btnCancel"><i class="glyphicon glyphicon-remove"></i></a>';
        html += '</div>';
        return [html].join('');
    }

    //注册按钮点击事件
    window.operateEvents = {
        'click .btnView': function (e, value, row, index) {
            view(row);
        },
        'click .btnCancel': function (e, value, row, index) {
            cancel(row);
        }
    }

    //查看
    function view(row) {
        var index = layer.open({
            type: 2,
            title: "订单详情",
            content: "order_detail.html?orderSn=" + row.sn
        });
        layer.full(index);
    }


    //取消订单
    function cancel(row) {
        swal({
            title: "您确定要取消这条订单吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "取消订单",
            closeOnConfirm: false
        }, function () {
            var param = {
                reviewUuids: row.uuid,
                delFlag: true
            };
            axios.post(zmme + "/review/updateReview", param).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal("取消订单成功！", "您已经成功取消了这条订单。", "success");
                    refreshTable(setting.tableId);
                } else {
                    swal("取消订单失败！", result.message, "error");
                }
            })
        });
    }
/*订单状态 0:代付款 1:生产中 2:待发货 3:待签收 4:待评价 5:已取消 6:待退单 7:已完成*/
    function statusFormatter(value, row, index) {
        var div = "-";
        switch (value) {
            case 1: div = "生产中";break;
            case 2: div = "待发货";break;
            case 3: div = "待签收";break;
            case 4: div = "待评价";break;
            case 5: div = "已取消";break;
            case 6: div = "待退单";break;
            case 7: div = "已完成";break;
            default: div = "代付款";
        }
        return div;
    }
    function isInvoiceFormatter(value, row, index) {
        var div = "-";
        if (value) {
            div = "是";
        } else {
            div = "否";
        }
        return div;
    }

    function checkBoxFormatter(value, row, index) {
        return "<input value='" + value + "' type='checkbox' />";
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>