<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>

    <title>发货管理</title>
</head>

<body>

<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span
        class="c-gray en">&gt;</span> 发货管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新"><i class="glyphicon glyphicon-refresh"></i></a>
</nav>
<div class="page-container">
    <!--操作按钮-->
    <div class="text-c" id="search">
        商品名称：<input type="text" placeholder="商品名称" style="width:250px" class="input-text" v-model="model.goodsName"/>
        商品分类：
        <span class="select-box inline">
            <select class="select" v-model="model.status">
                <option :value="null">全部</option>
                <option :value="1">上衣</option>
                <option :value="2">裤装</option>
                <option :value="3">裙装</option>
                <option :value="4">套装</option>
            </select>
        </span>
        创建时间：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})"
               class="input-text Wdate" style="width:120px;" id="beginDate"/>
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}'})"
               class="input-text Wdate" style="width:120px;" id="endDate"/>
        价格区间:
        <input type="text" class="input-text" style="width: 50px">
        -
        <input type="text" class="input-text" style="width: 50px">

        设计师：<input type="text" placeholder="用户" style="width:250px" class="input-text" v-model="model.goodsName"/>
        商品筛选：
        <span class="select-box inline">
            <select class="select" v-model="model.status">
                <option :value="null">全部</option>
                <option :value="true">官方商城</option>
                <option :value="false">普通商品</option>
            </select>
        </span>
        <button class="btn btn-success" type="button" @click="search">搜索</button>
    </div>
    <!--数据列表 -->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th data-field="orderSn" data-halign="left" data-valign="middle" data-align="left">订单编号
                </th>
                <th data-field="orderCreateDate" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="dateFormat">下单时间
                </th>
                <th data-field="paymentDate" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="dateFormat">付款时间
                </th>
                <th data-field="goodsName" data-halign="left" data-valign="middle" data-align="left">商品信息
                </th>
                <th data-field="amount" data-halign="left" data-valign="middle" data-align="left">实收款
                </th>
                <th data-field="memberName" data-halign="left" data-valign="middle" data-align="left">客户
                </th>
                <th data-field="address" data-halign="left" data-valign="middle" data-align="left">收货地址及备注
                </th>
                <th data-field="invoice" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="invoiceFormat">是否要发票
                </th>
                <th data-field="freight" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="freightFormat">配送方式
                </th>
                <th data-field="status" data-halign="left" data-valign="middle" data-align="left"
                    data-formatter="statusFormatter">状态
                </th>
                <th data-field="action" data-formatter="actionFormatter" data-events="operateEvents"
                    data-halign="center"
                    data-valign="middle" data-align="center">操作
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../js/table.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        $("table thead th input:checkbox").on("click", function () {
            $(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"))
        });

        //初始化表格
        var setting = {
            tableId: '#tablelist',
            url: zmme + "/shipping/list",
            pagination: true,
            pageSize: 10,
            method: "post"
        };
        initTable(setting);

        var vm = new Vue({
            el: '#search',
            data: {
                model: {
                    "desingerName": "",
                    "memberName": "",
                    "pageNum": "",
                    "pageSize": "",
                    "priceMax": "",
                    "priceMin": "",
                    "sn": "",
                    "status": ""
                }
            },
            methods: {
                search: function () {
                    vm.model.beginDate = new Date($('#beginDate').val()).getTime();
                    vm.model.endDate = new Date($('#endDate').val()).getTime();
                    searchTable({tableId: '#tablelist', url: zmme + "/shipping/list"}, vm.model);
                }
            }

        })
    })
    //操作按钮
    function actionFormatter(value, row, index) {
        var html = '<div>';
        html += '<a title="发货" class="btnDeliver btn"    ><i class="glyphicon glyphicon-hand-up"></i></a>';
        html += '<a title="修改地址" class="btnEditAddr btn"    ><i class="glyphicon glyphicon-edit"></i></a>';
        html += '<a title="查看物流状态" class="btn btnViewLogistics"><i class="glyphicon glyphicon-comment"></i></a>';
        html += '<a title="查看详情"><i class="btn btnView glyphicon glyphicon-file"></i></a>';
        html += '</div>';
        return [html].join('');
    }

    //注册按钮点击事件
    window.operateEvents = {
        'click .btnView': function (e, value, row, index) {
            view(row);
        },
        'click .btnDeliver': function (e, value, row, index) {
            deliver(row);
        },
        'click .btnEditAddr': function (e, value, row, index) {
            editAddr(row);
        },
        'click .btnViewLogistics': function (e, value, row, index) {
            viewLogistics(row);
        }
    }

    //查看
    function view(row) {
        var index = layer.open({
            type: 2,
            title: "评论详情",
            content: "review_reply.html?uuid=" + row.uuid
        });
        layer.full(index);
    }

    //发货
    function deliver(row) {
        var index = layer.open({
            type: 2,
            title: "发货",
            content: "shipping_deliver.html?uuid=" + row.uuid
        });
        layer.full(index);
    }

    //修改地址
    function editAddr(row) {
        var operation = row.status ? "隐藏" : "显示";
        swal({
            title: "您确定要" + operation + "这条评论吗",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: operation,
            closeOnConfirm: false
        }, function () {
            var param = {
                reviewUuids: row.uuid,
                status: !row.status
            };
            axios.post(zmme + "/review/updateReview", param).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal(operation + "成功！", "您已经成功" + operation + "了这条评论。", "success");
                    refreshTable(setting.tableId);
                } else {
                    swal(operation + "失败！", result.message, "error");
                }
            })
        })
    }

    //查看物流状态
    function btnViewLogistics(row) {
        swal({
            title: "您确定要删除这条评论吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            var param = {
                reviewUuids: row.uuid,
                delFlag: true
            };
            axios.post(zmme + "/review/updateReview", param).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal("删除成功！", "您已经成功删除了这条评论。", "success");
                    refreshTable(setting.tableId);
                } else {
                    swal("删除失败！", result.message, "error");
                }
            })
        });
    }

    function dateFormat(value, row, index) {
        if (Boolean(value))
            return new Date(value).toLocaleString();
        else
            return "";
    }

    function invoiceFormat(value, row, index) {
        if (value)
            return "是";
        else
            return "否";
    }

    function statusFormatter(value, row, index) {
        var div = "-";
        switch (value) {
            case 1:
                div = "未发货";
                break;
            case 2:
                div = "已发货";
                break;
            case 3:
                div = "已签收";
        }
        return div;
    }

    function freightFormat(value, row, index) {
        var div = "-";
        switch (value) {
            case 0:
                div = "顺丰快递";
                break;
            case 1:
                div = "邮政快递";
                break;
            case 2:
                div = "";
        }
        return div;
    }

    function checkBoxFormatter(value, row, index) {
        return "<input value='" + value + "' type='checkbox' />";
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>