<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />



	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../../plugins/cityPicker/css/cityPicker.css">
	<link rel="stylesheet" type="text/css" href="../../plugins/clockpicker/dist/bootstrap-clockpicker.min.css">


	<title>体验店-详情</title>
	<style>
		.ul-img-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.ul-img-list li {
			float: left;
			margin-right: 10px
		}

		.box-container {
			color: #838383;
			font-size: 12px;
			margin-top: 15px;
			background-color: #FFF;
			border: solid 1px #ddd;
			padding: 0;
		}

		.box-container .queueList {
			margin: 20px;
		}

		.box-container .statusBar {
			height: 50px;
			border-top: 1px solid #dadada;
			padding: 0 20px;
			vertical-align: middle;
			position: relative;
		}

		.help-block {
			display: inline-block;
			margin-top: 5px;
			margin-bottom: auto;
		}
	</style>
</head>

<body>




	<div id="app" style="margin-top:30px">

		<form class=" form-horizontal center-block" id="myform" name="myform">

			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>体验店名称:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="" id="name" name="name" v-model="model.name" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">展示照片:</label>
				<div class="col-xs-6">
					<div class="col-xs-12 box-container">
						<div class="col-xs-12 queueList">
							<ul class="ul-img-list">
								<li v-for="(image,index) in imageList" style="margin-bottom:15px">
									<img :src="image" style="width:60px;height:60px" />
									<a href="#" style="position: absolute; margin-left:15px;height:50px" @click='delImage(index)'>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
									<!--<img style="width:60px;height:60px" src="http://192.168.1.217/group1/M00/00/15/wKgB21jztL-AITUGAAvqH_kipG8997.jpg"></img>
									<a href="#" style="position: absolute; margin-left:15px;height:50px" @click='delImage()'>删除</a>-->
								</li>
								<li>
									<span style="width:60px;height:60px" class="btn btn-default btn-app" @click="addImages">
							            <i class="glyphicon glyphicon-plus" style="margin-top:15px" ></i>
							        </span>
									<input type="file" id="fileUpload" name="file" @change="onFileChange" multiple style="display: none;">
								</li>
							</ul>
						</div>
						<!--<div class="col-xs-12">
							<input type="button" class="btn btn-primary pull-right" style="margin:10px" value="上传图片" @click="uploadImage" />
						</div>-->
					</div>
				</div>

			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">所在城市:</label>
				<div class="col-sm-3 ">
					<input type="text" id="cityChoice" class="form-control" v-model="model.city">
					<input type="hidden" id="province" value="" class="form-control">
					<input type="hidden" id="city" value="" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">店铺地址:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="" id="address" name="address" v-model="model.address" placeholder="" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">联系电话:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" value="" id="telephone" name="telephone" v-model="model.telephone" placeholder=""
					/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">营业时间:</label>
				<div class="col-sm-6 ">
					<div class="col-sm-3 " style="margin-left:-15px">
						<div class="input-group clockpicker">
							<input type="text" class="form-control" id="openTime" readonly v-model="model.openTime" />
							<span class="input-group-addon">
				              <span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
					<div class="col-sm-3 ">
						<div class="input-group clockpicker">
							<input type="text" class="form-control" id="closeTime" readonly v-model="model.closeTime" />
							<span class="input-group-addon">
				              <span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">状态:</label>
				<div class="col-sm-4">
					<lable class="radio-inline">
						<input type="radio" id="status-1" name="status" value="true" checked v-model="model.status" />
						<label for="status-1">显示</label>
					</lable>
					<lable class="radio-inline">
						<input type="radio" id="status-0" name="status" value="false" v-model="model.status" />
						<label for="status-0">隐藏</label>
					</lable>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">描述：</label>
				<div class="col-sm-6">
					<textarea name="description" v-model="model.description" class="form-control" cols="" rows="5" placeholder="说点什么...255个字符以内"
					 dragonfly="true"></textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/255</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">地图位置：</label>
				<div class="col-sm-6">
					<div class="col-xs-6">
						<lable for="searchKey">具体地址：</lable><input id="searchKey" />
						<input type="button" value="搜索" @click="searchMap" />
					</div>
					<div class="col-xs-12 box-container">
						<div id="allmap" style="width:100%;height:300px"></div>
						<input type="hidden" class="form-control" v-model="model.longitude" />
						<input type="hidden" class="form-control" v-model="model.latitude" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-primary" @click="onSubmit">提交</button>
				</div>
			</div>

		</form>
	</div>




	<script type="text/javascript" src="../../js/jquery.min.js?v=2.1.4"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugins/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript" src="../../plugins/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/vue.min.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios-config.js"></script>
	<script type="text/javascript" src="../../plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
	<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.js"></script>
	<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate-default.js"></script>
	<script type="text/javascript" src="../../plugins/cityPicker/js/cityPicker.js"></script>
	<script type="text/javascript" src="../../plugins/cityPicker/js/cityData.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=T1vGBnqyZdgF1em2rwo3CpxuzZiqZpsl"></script>
	<script type="text/javascript">

	</script>

	<script type="text/javascript">
		var parmObj = getLocalUrlParms();
		//定义数据保存执行的url
		var url = zmme + "/shop/create";
		//定义数据保存行的url请求方式POST：新增，PUT:修改
		var method = "POST";
		//定义地图实例
		var map;

		//Vue操作
		var vm = new Vue({
			el: '#app',
			//数据
			data: {
				//定义用于绑定的一个对象
				model: {},
				cityData: [],//身份数据
				imageList: [],//图片数据
			},
			//加载页面时执行
			created: function () {
				// 百度地图API功能
				this.getCityData();
				//初始化部分参数值
				this.model = { status: true, address: "深圳市南山区高新南六路" };
				//如果是编辑，根据uuid加载数据
				if (parmObj.operate == "update") {
					//修改url为更新url,修改method为url对应的请求方式
					url = zmme + "/shop/update";
					method = "PUT";
					//获取编辑的数据并显示
					this.viewEditData();
				}

			},
			//dom加载完成，需要操作dom的，可在mounted中操作。
			mounted: function () {
				let that = this
				window.onload = function () {
					that.$nextTick(
						that.initMap()
					)
				}
				//时间选择
				$('.clockpicker').clockpicker()
					.find('input').change(function (e) {
						var elId = e.target.id;
						console.log(elId);
						if (e.target.id == "openTime") {
							that.model.openTime = this.value;
						}
						if (e.target.id == "closeTime") {
							that.model.closeTime = this.value;
						}
					});
				//表单验证
				$("#myform").validate({
					rules: {
						name: "required",
					},
					messages: {
						name: "请输入名称",
					}
				});
				//城市选择器
				var cityPicker = new IIInsomniaCityPicker({
					data: cityData,
					target: '#cityChoice',
					valType: 'k-v',
					hideCityInput: '#city',
					hideProvinceInput: '#province',
					callback: function (city_id, city_name) {
						that.model.city = city_name;
					}
				});
				cityPicker.init();
			},
			//方法
			methods: {
				//根据UUID获取要编辑的数据
				viewEditData: function () {
					//根据uuid获取数据，并显示在页面
					axios.get(zmme + "/shop/query/" + parmObj.uuid).then(response => {
						var result = response.data;
						console.log(result);
						if (result.code == 0) {
							//绑定到对象
							this.model = result.data;

							//处理店铺图片显示
							var strImage = result.data.image
							if (strImage) {
								var strImages = strImage.split(',');
								for (var i in strImages) {
									this.imageList.push(strImages[i]);
								}
							}
							//地图定位
							this.locateMap(this.model.longitude, this.model.latitude);

						} else {
							swal("错误！", result.message, "error");
						}
					})
				},
				//保存数据
				onSubmit: function () {
					//验证表单
					$("#myform").validate();
					//保存数据
					if ($("#myform").valid()) {
						var data = this.model;
						console.log(JSON.stringify(data));
						var strUrl = "";
						for (var i in vm.imageList) {
							if (i == 0) {
								strUrl = vm.imageList[i];
							} else {
								strUrl += "," + vm.imageList[i];
							}
						}
						data.image = strUrl;
						//通过验证    
						axios({
							method: method,
							url: url,
							data: data
						}).then(response => {
							var result = response.data;
							if (result.code == "0") {
								layer_close();
							} else {
								swal("错误！", result.message, "error");
							}
						});
					}
				},
				//添加图片
				addImages: function (e) {
					e.preventDefault();
					$('input[type=file]').trigger('click');
					return false;
				},
				//图片上传，显示
				onFileChange: function (e) {

					var files = e.target.files || e.dataTransfer.files;
					let param = new FormData(); //创建form对象
					for (var i in files) {
						param.append('file', files[i]);
					}
					$.ajax({
						type: 'post',
						url: fileServiceURL + "/fileUpload/stream",
						data: param,
						processData: false,
						contentType: false,
						dataType: 'json',
						mimeType: "multipart/form-data",
						success: function (res) {
							var imgUrls = res.data;
							for (var i in imgUrls) {
								var url = imgUrls[i];
								vm.imageList.push(url);
							}
						}
					});
					$('#fileUpload').val("");
				},
				//删除图片
				delImage: function (index) {
					this.imageList.splice(index, 1);
				},

				//获取城市数据
				getCityData: function () {
					//根据uuid获取数据，并显示在页面
					var data = {

						"grade": 1,
						"pageNum": 0,
						"pageSize": 1000
					}
					axios.post(zmme + "/shop/query/", data).then(response => {
						var result = response.data;
						if (result.code == 0) {
							//绑定到对象
							this.cityData = result.data.list;
						} else {
							swal("错误！", result.message, "error");
						}
					})
				},
				//搜索地图
				searchMap: function () {
					var key = $("#searchKey").val();
					var myGeo = new BMap.Geocoder()
					// 将地址解析结果显示在地图上,并调整地图视野
					myGeo.getPoint(key, function (point) {
						if (point) {
							map.centerAndZoom(point, 18)
							map.addOverlay(new BMap.Marker(point));
							this.model.latitude = point.lat;//纬度
							this.model.longitude = point.lng;//经度
						} else {
							console.log('您选择地址没有解析到结果!')
						}
					}, province);
				},
				//初始化百度地图
				initMap: function () {
					//初始化地图对象
					map = new BMap.Map("allmap");
					// 百度地图API功能
					map.centerAndZoom(new BMap.Point(113.960275, 22.541492), 11);
					map.enableScrollWheelZoom(true);
					//初始位置
					this.locateMap('113.960257', '22.541442');
					//注册点击事件
					map.addEventListener("click", function (e) {

						map.clearOverlays();
						var new_point = new BMap.Point(e.point.lng, e.point.lat);
						var marker = new BMap.Marker(new_point);  // 创建标注
						map.addOverlay(marker);              // 将标注添加到地图中
						map.panTo(new_point);
						vm.model.latitude = e.point.lat;//纬度
						vm.model.longitude = e.point.lng;//经度
					});
				},
				//地图定位
				locateMap: function (lng, lat) {
					if (lng != '' && lat != '') {
						map.clearOverlays();
						var new_point = new BMap.Point(lng, lat);
						var marker = new BMap.Marker(new_point);  // 创建标注
						map.addOverlay(marker);              // 将标注添加到地图中
						map.panTo(new_point);
					}
				}
			}

		});
		/*--------vue---end----------*/



		/*
		function createImage(file) {
			if (typeof FileReader === 'undefined') {
				alert('您的浏览器不支持图片上传，请升级您的浏览器');
				return false;
			}
			var leng = file.length;
			for (var i = 0; i < leng; i++) {
				var reader = new FileReader();
				reader.readAsDataURL(file[i]);
				reader.onload = function (e) {
					vm.imageList.push(e.target.result);
				};
			}
		}

		function dataURItoBlob(dataURI) {
			var byteString = atob(dataURI.split(',')[1]);
			var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
			var ab = new ArrayBuffer(byteString.length);
			var ia = new Uint8Array(ab);
			for (var i = 0; i < byteString.length; i++) {
				ia[i] = byteString.charCodeAt(i);
			}
			return new Blob([ab], { type: mimeString });
		}*/
	</script>

</body>

</html>