<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.GoodsOfficiallyMapper" >
    <!--<resultMap id="BaseResultMap" type="com.kingthy.entity.GoodsOfficially" >-->
    <resultMap id="BaseResultMap" type="com.kingthy.entity.Goods" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_feature" property="goodsFeature" jdbcType="VARCHAR" />
        <result column="standard_price" property="standardPrice" jdbcType="DECIMAL" />
        <result column="opus_sn" property="opusSn" jdbcType="VARCHAR" />
        <result column="desinger" property="desinger" jdbcType="VARCHAR" />
        <result column="return_point" property="returnPoint" jdbcType="INTEGER" />
        <result column="put_on_method" property="putOnMethod" jdbcType="INTEGER" />
        <result column="put_on_time" property="putOnTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="goods_category_uuid" property="goodsCategoryUuid" jdbcType="CHAR" />
        <result column="goods_style_uuid" property="goodsStyleUuid" jdbcType="CHAR" />
        <result column="goods_season_uuid" property="goodsSeasonUuid" jdbcType="CHAR" />
        <result column="goods_details" property="goodsDetails" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="cover" property="cover" jdbcType="VARCHAR" />
        <result column="opus_uuid" property="opusUuid" jdbcType="CHAR" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="uuid" property="uuid" jdbcType="CHAR" />
        <result column="goods_tags" property="goodsTags" jdbcType="LONGVARCHAR" />
        <result column="goods_image" property="goodsImage" jdbcType="LONGVARCHAR" />
        <result column="part_info" property="partInfo" jdbcType="LONGVARCHAR" />
        <result column="materiel_info" property="materielInfo" jdbcType="LONGVARCHAR" />
        <result column="accessories_info" property="accessoriesInfo" jdbcType="LONGVARCHAR" />
    </resultMap>



    <!-- 分页查询商品信息 -->
    <select id="findByPage" parameterType="com.kingthy.request.GoodsPageReq" resultType="com.kingthy.dto.GoodsPageDto">
        select g.uuid,g.goods_name as goodsName,g.goods_category_uuid as goodsCategoryUuid,
        g.standard_price as standardPrice,g.status,g.cover, g.sn,g.create_date createDate
        from goods g
        where g.del_flag is false
        <if test="goodsCategoryUuid != null and goodsCategoryUuid !='' ">
            and g.goods_category_uuid = #{goodsCategoryUuid}
        </if>
        <if test="goodsStyleUuid != null and goodsStyleUuid !='' ">
            and g.goods_style_uuid = #{goodsStyleUuid}
        </if>
        <if test="goodsSeasonUuid != null and goodsSeasonUuid !='' ">
            and g.goods_season_uuid = #{goodsSeasonUuid}
        </if>
        <if test="status != null ">
            and g.status = #{status}
        </if>
        <if test="goodsName != null and goodsName !='' ">
            and g.goods_name like concat('%',#{goodsName},'%')
        </if>
        <if test="desinger != null and desinger !='' ">
            and g.desinger like concat('%',#{desinger},'%')
        </if>
        <if test="beginTime != null">
            AND unix_timestamp(g.create_date) * 1000 &gt;= #{beginTime}
        </if>

        <if test="endTime != null">
            AND unix_timestamp(g.create_date) * 1000 &lt; #{endTime}
        </if>

        <if test="priceMin != null">
            AND g.standard_price &gt;= #{priceMin}
        </if>

        <if test="priceMax != null">
            AND g.standard_price &lt;= #{priceMax}
        </if>
        ORDER BY g.`create_date` DESC
    </select>

    <select id="findByPage_COUNT" resultType="Long">
        select COUNT(1)
        from goods g
        where g.del_flag is false
        <if test="goodsCategoryUuid != null and goodsCategoryUuid !='' ">
            and g.goods_category_uuid = #{goodsCategoryUuid}
        </if>
        <if test="goodsStyleUuid != null and goodsStyleUuid !='' ">
            and g.goods_style_uuid = #{goodsStyleUuid}
        </if>
        <if test="goodsSeasonUuid != null and goodsSeasonUuid !='' ">
            and g.goods_season_uuid = #{goodsSeasonUuid}
        </if>
        <if test="status != null ">
            and g.status = #{status}
        </if>
        <if test="goodsName != null and goodsName !='' ">
            and g.goods_name like concat('%',#{goodsName},'%')
        </if>
        <if test="desinger != null and desinger !='' ">
            and g.desinger like concat('%',#{desinger},'%')
        </if>
        <if test="beginTime != null">
            AND unix_timestamp(g.create_date) * 1000 &gt;= #{beginTime}
        </if>

        <if test="endTime != null">
            AND unix_timestamp(g.create_date) * 1000 &lt; #{endTime}
        </if>

        <if test="priceMin != null">
            AND g.standard_price &gt;= #{priceMin}
        </if>

        <if test="priceMax != null">
            AND g.standard_price &lt;= #{priceMax}
        </if>
    </select>

    <!-- 批量上下架 -->
    <update id="upOrDownBatch">
        UPDATE goods g SET
        g.status= #{status},
        g.modify_date = #{modifyDate},
        g.modifier = #{modifier}
        WHERE g.uuid IN
        <foreach collection="uuidArray" item="goodsUuid" index="" open="(" close=")" separator=",">
            #{goodsUuid}
        </foreach>
    </update>

    <select id="selectOfficiallyGoodsInfoByUuid" parameterType="java.lang.String" resultType="com.kingthy.dto.GoodsPageDto$GoodsDetailDto">
        SELECT
        a.goods_name goodsName,
        a.goods_image goodsImage,
        a.standard_price standardPrice,
        a.attribute,
        a.part_info partInfo,
        a.materiel_info materielInfo,
        a.accessories_info accessoriesInfo,
        a.goods_details goodsDetailImage,
        a.desinger,
        a.goods_category_uuid goodsCategoryUuid
        FROM
        goods a
        WHERE
        a.del_flag = 0 AND a.uuid = #{goodsUuid}

    </select>

</mapper>
