<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.FigureMapper">
    <cache></cache>
    <resultMap id="BaseResultMap" type="com.kingthy.entity.Figure">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="member_uuid" property="memberUuid" jdbcType="CHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="uuid" property="uuid" jdbcType="CHAR"/>
        <result column="family_relation" property="familyRelation" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT"/>
        <result column="model_path" property="modelPath" jdbcType="VARCHAR"/>
        <result column="figure_name" property="figureName" jdbcType="VARCHAR"/>
        <result column="model_name" property="modelName" jdbcType="VARCHAR"/>
        <result column="model_image" property="modelImage" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="BIT"/>
    </resultMap>

    <select id="selectFigureByMemberUuid" parameterType="java.lang.String"
            resultType="com.kingthy.dto.GoodsDTO$FigureInfo">
        SELECT a.uuid figureUuid,a.figure_name figureName FROM figure a WHERE a.member_uuid = #{memberUuid} AND a.del_flag = 0
    </select>

    <select id="queryBath" resultMap="BaseResultMap">
        SELECT
        member_uuid,create_date,modify_date,creator,modifier,uuid,family_relation,del_flag,model_path,figure_name,
        model_name,model_image,is_default FROM figure WHERE uuid IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>