<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.MemberBankCardMapper" >
  <cache></cache>
  <resultMap id="BaseResultMap" type="com.kingthy.entity.MemberBankCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="members_uuid" property="membersUuid" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="cardholder" property="cardholder" jdbcType="VARCHAR" />
    <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectBankCardInfo" resultMap="BaseResultMap">
    SELECT * FROM member_bank_card WHERE uuid = #{uuid}
  </select>

  <select id="queryBankInfoByMembersUuid" parameterType="java.lang.String" resultType="com.kingthy.dto.IncomeBalanceDTO">
    SELECT
    b.bank_name bankName,
    b.card_no cardNo,
    b.uuid bankCardUuid
    FROM
    member_bank_card b
    WHERE
    b.members_uuid = #{membersUuid}
    AND b.del_flag = 0
  </select>

  <select id="countBankCardByCardNoAndMemberUuid" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(1) FROM member_bank_card WHERE del_flag = 0 AND card_no = #{cardNo} AND members_uuid = #{membersUuid}
  </select>
 
</mapper>