<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingthy.mapper.MemberFootmarkMapper">
    <cache></cache>
    <!-- 批量删除我的足迹 -->
    <delete id="batchDeleteFootmark">
        delete from member_footmark where uuid in (
        <foreach collection="uuids" item="uuid" separator=",">
            #{uuid}
        </foreach>
        )
    </delete>

    <select id="getFootmarkByMemberUuid" resultType="com.kingthy.entity.MemberFootmark">
        select
        uuid,
        create_date createDate,
        product_uuid productUuid
        from member_footmark
        <where>
            <if test=" memberUuid!=null and memberUuid!='' ">
                and member_uuid=#{memberUuid}
            </if>
        </where>
        order by id desc
    </select>

    <!-- 分页查询会员足迹列表，根据时间戳分页 -->
    <select id="pageGetFootmarkListByTimesapn" resultType="com.kingthy.entity.MemberFootmark">
        select
        uuid,
        member_uuid memberUuid,
        product_uuid productUuid,
        create_date createDate
        from member_footmark
        <where>
            <if test=" memberUuid !=null and memberUuid !='' ">
                AND member_uuid=#{memberUuid}
            </if>
            <if test=" timespan !=null and timespan >0  ">
                <![CDATA[  AND (UNIX_TIMESTAMP(create_date)*1000) < #{timespan}  ]]>
            </if>
        </where>
        order by create_date desc
        LIMIT 0,#{pageSize}
    </select>


</mapper>
