<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingthy.mapper.ReceiverMapper">
    <cache></cache>
    <!-- 实体字段映射 -->
    <resultMap id="memReceiverDTO" type="com.kingthy.dto.MemberReceiverDTO">
        <result column="area_name" property="areaName"/>
        <result column="is_default" property="isDefault"/>
        <result column="zip_code" property="zipCode"/>
        <result column="area_id" property="areaId"/>
        <result column="member_uuid" property="memberUuid"/>
    </resultMap>
    <select id="getMemberReceiverList" parameterType="java.lang.String" resultMap="memReceiverDTO">
        SELECT uuid,member_uuid,consignee,area_id,phone,area_name,address,zip_code, is_default FROM receiver
        where member_uuid=#{memberUuid} ORDER BY ID DESC
    </select>
    <!-- 设置默认收货地址 -->
    <update id="setDefaultReceiver">
        update receiver set is_default=1 where member_uuid=#{memberUuid} AND uuid=#{uuid}
    </update>
    <!-- 取消默认收货地址 -->
    <update id="cancelDefaultReceiver">
        update receiver set is_default=0
        <where>member_uuid=#{memberUuid}
            <if test=" uuid!=null and uuid!='' ">AND uuid=#{uuid}</if>
        </where>
    </update>

</mapper>