<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.mapper.ColourIfiMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.entity.ColourIfi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="image_src" property="imageSrc" jdbcType="VARCHAR" />
    <result column="rgb" property="rgb" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="updater_id" property="updaterId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="oper_st" property="operSt" jdbcType="BIT" />
    <result column="dist_id" property="distId" jdbcType="VARCHAR" />
  </resultMap>

</mapper>