<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <title>广告管理</title>
</head>

<body>

<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 运营管理 <span
        class="c-gray en">&gt;</span> 广告管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新"><i class="glyphicon glyphicon-refresh"></i></a>
</nav>
<div class="page-container">
    <!--操作按钮-->
    <div class="text-c" id="search">
        广告名称：<input type="text" placeholder="广告名称" style="width:250px" class="input-text"
                    v-model="model.adName"/>
        状态：
        <select class="select-box" v-model="model.status" style="width: auto">
            <option value="up">已上架</option>
            <option value="down">已下架</option>
        </select>
        投放时间：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}'})"
               class="input-text Wdate" style="width:120px;" id="beginTime"/>
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}'})"
               class="input-text Wdate" style="width:120px;" id="endTime"/>
        描述内容：<input type="text" placeholder="描述内容" style="width:250px" class="input-text"
                    v-model="model.description"/>
        <button class="btn btn-success" type="button" @click="search">搜索</button>
        <button class="btn btn-success" type="button" @click="addAD" style="float: right"><i
                class="glyphicon glyphicon-plus">添加广告</i></button>
    </div>

    <!--数据列表 -->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <th data-field="uuid" data-width="25px" data-formatter="checkBoxFormatter" data-valign="middle"
                data-align="center"><input
                    type="checkbox"/>全选
            </th>
            <th data-formatter="indexFormatter" data-width="25px" data-valign="middle" data-align="center">序列号</th>
            <th data-field="adName" data-valign="middle" data-align="center">广告名称
            </th>
            <th data-field="length" data-valign="middle" data-align="center">广告长度
            </th>
            <th data-field="width" data-valign="middle" data-align="center">广告宽度
            </th>
            <th data-field="description" data-valign="middle" data-align="center">广告描述
            </th>
            <th data-field="location" data-valign="middle" data-align="center">投放位置
            </th>
            <th data-field="banners" data-formatter="bannersFormatter" data-halign="left" data-valign="middle"
                data-align="left">banner图
            </th>
            <th data-field="startTime" data-halign="left" data-valign="middle" data-align="left">有效时间
            </th>
            <th data-field="href" data-halign="left" data-valign="middle" data-align="left">链接
            </th>
            <th data-field="status" data-formatter="statusFormatter" data-halign="left" data-valign="middle"
                data-align="left">状态
            </th>
            <th data-field="action" data-formatter="actionFormatter" data-events="operateEvents"
                data-halign="center"
                data-valign="middle" data-align="center">操作
            </th>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../js/table.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //初始化表格
    var setting = {
        tableId: '#tablelist',
        url: zmme + "/advertisement/findByPage",
        pagination: true,
        pageSize: 10,
        method: "post"
    };
    initTable(setting);
    $(function () {
        $("table thead th input:checkbox").on("click", function () {
            $(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"))
        });
        var vm = new Vue({
            el: '#search',
            data: {
                model: {
                    "adName": "",
                    "description": "",
                    "endTime": "",
                    "startTime": "",
                    "status": ""
                }
            },
            methods: {
                search: function () {
                    vm.model.startTime = new Date($('#beginTime').val());
                    vm.model.endTime = new Date($('#endTime').val());
                    vm.model.description = vm.model.description==""?null:vm.model.description;
                    vm.model.status = vm.model.status==""?null:vm.model.status;
                    vm.model.adName = vm.model.adName==""?null:vm.model.adName;
                    searchTable({tableId: '#tablelist', url: zmme + "/advertisement/findByPage"}, vm.model);
                },
                addAD: function () {
                    layer_full(2, "添加广告", "adManage_detail.html");
                }
            }

        })

    })
    //添加操作按钮
    function actionFormatter(value, row, index) {
        var html = '<div>';
        if (row.status)
            html += '<a title="下架"><i class="btn btnEnd glyphicon glyphicon-arrow-down"></i></a>';
        if (!row.status)
            html += '<a title="上架"><i class="btn btnStart glyphicon glyphicon-arrow-up"></i></a>';
        html += '<a title="查看"><i class="btn btnView glyphicon glyphicon-file"></i></a>';
        html += '<a title="编辑"><i class="btn btnEdit glyphicon glyphicon-edit"></i></a>';
        if (!row.status) {
            html += '<a title="删除"><i class="btn btnDelete glyphicon glyphicon-remove"></i></a>';
        }
        html += '</div>';
        return [html].join('');
    }

    //注册按钮点击事件
    window.operateEvents = {
        'click .btnView': function (e, value, row, index) {
            view(row);
        },
        'click .btnEdit': function (e, value, row, index) {
            edit(row);
        },
        'click .btnDelete': function (e, value, row, index) {
            del(row);
        },
        'click .btnEnd': function (e, value, row, index) {
            down(row);
        },
        'click .btnStart': function (e, value, row, index) {
            up(row);
        }
    }

    //查看
    function view(row) {
        layer_full(2, "查看广告详情", "adManage_detail.html?uuid=" + row.uuid + "&isEdit=false");
    }

    //编辑
    function edit(row) {
        layer_full(2, "编辑广告详情", "adManage_detail.html?uuid=" + row.uuid);
    }

    //删除
    function del(row) {
        swal({
            title: "您确定要删除该广告吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            axios.get(zmme + "/advertisement/delete/" + row.uuid).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal({title: "删除成功！", text: "您已经成功删除了该广告。", type: "success"}, function () {
                        refreshTable(setting.tableId);
                    });
                } else {
                    swal("删除失败！", result.message, "error");
                }
            })
        });
    }
    //上架
    function up(row) {
        var paramData = {
            'uuid': row.uuid,
            'status': true
        };
        swal({
            title: "您确定要上架该广告吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "上架",
            closeOnConfirm: false
        }, function () {
            axios.post(zmme + "/advertisement/update", paramData).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal({title: "成功！", text: "您已经成功上架了该广告。", type: "success"}, function () {
                        refreshTable(setting.tableId);
                    });
                } else {
                    swal("失败！", result.message, "error");
                }
            })
        });
    }
    //下架
    function down(row) {
        var paramData = {
            'uuid': row.uuid,
            'status': false
        };
        swal({
            title: "您确定要下架该广告吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "下架",
            closeOnConfirm: false
        }, function () {
            axios.post(zmme + "/advertisement/update", paramData).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal({title: "成功！", text: "您已经成功下架了该广告。", type: "success"}, function () {
                        refreshTable(setting.tableId);
                    });
                } else {
                    swal("失败！", result.message, "error");
                }
            })
        });
    }

    function statusFormatter(value, row, index) {
        var div = "-";
        if (value) {
            div = "已上架";
        } else {
            div = "已下架";
        }
        return div;
    }

    function bannersFormatter(value, row, index) {
        var banners = JSON.parse(value);
        var div = "";
        $.each(banners, function (x, y) {
            div += "<img src='" + y + "' width='60px'/>";
        })
        return div;
    }

    function checkBoxFormatter(value, row, index) {
        return "<input value='" + value + "' type='checkbox'>";
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>