<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <style type="text/css">
        .fileUploadDiv {
            position: relative;
            overflow: hidden;
            float: left !important;
        }
    </style>
    <title>广告管理</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">广告名称：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.adName" :readonly="isEdit"
                       name="model.adName" required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">广告描述：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.description" :readonly="isEdit"
                       name="model.description" required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">广告长度：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.length" :readonly="isEdit"
                       name="model.length" required/>
            </div>
            <label class="form-label col-xs-2 col-sm-2">广告宽度：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.width" :readonly="isEdit"
                       name="model.width" required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">投放位置：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.location" :readonly="isEdit"
                       name="model.location" required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">广告投放开始时间：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text"
                       onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                       class="input-text Wdate" style="width:180px;" id="beginTime" name="beginTime" required :value="model.startTime"
                       :disabled="isEdit"/>
            </div>
            <label class="form-label col-xs-2 col-sm-2">广告投放结束时间：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text"
                       onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')||\'%y-%M-%d\'}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                       class="input-text Wdate" style="width:180px;" id="endTime" name="endTime" required :value="model.endTime"
                       :disabled="isEdit"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">上传bunner：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <ul>
                    <li v-for="img in fileUrls" style="display: inline;">
                        <a :href="img" target="_blank"><img :src="img" alt="图片" width="200px"/></a>
                        <a title="删除" @click="removeImg(img)" v-show="!isEdit"><i>删除</i></a>
                    </li>
                </ul>
                <span v-show="fileUrls.length == 0" class="error" style="color: red;font-size: 12px">至少需一张</span>
                <div class="fileUploadDiv" v-show="!isEdit">
                    <input type="file" class="input-file" @change="uploadImg">
                    <a class="btn btn-upload">选择图片</a>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">广告展示链接：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.href" :readonly="isEdit" name="model.href"
                       required/>
            </div>
        </div>
        <div class="row cl">
            <div class="row cl" style="padding-left: 200px;" v-show="!isEdit">
                <input type="button" value="确定" class="btn btn-success" @click="save"/>
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('#myform').validate();
    })

    var uuid = getUrlParmsByName("uuid");
    var isEdit = getUrlParmsByName("isEdit");
    function getADData(uuid) {
        var result = null;
        $.ajax({
            url: zmme + "/advertisement/findByUuid/" + uuid,
            dataType: 'json',
            method: 'get',
            async: false,
            success: function (data) {
                if (data.code == 0) {
                    result = data.data;
                }
            }
        })
        return result;
    }
    var vm = new Vue({
        el: "#app",
        data: {
            model: {
                "status": null,
                "adName": "",
                "description": "",
                "length": "",
                "width": "",
                "location": "",
                "startTime": "",
                "endTime": "",
                "banners": "",
                "href": ""
            },
            imageUrl: null
        },
        created: function () {
            this.isEdit = isEdit == 'false' ? true : false;
            if (uuid) {
                this.model = getADData(uuid);
                this.model.banners = JSON.parse(this.model.banners);
            }
        },
        methods: {
            save: function () {
                if ($('#myform').valid() && vm.fileUrls.length > 0) {
                    var url = '';
                    if (uuid) {
                        url = '/advertisement/update';
                    } else {
                        url = '/advertisement/add';
                    }
                    this.model.banners = JSON.stringify(this.model.banners);
                    this.model.status = this.model.status == null ? "up" : this.model.status;
                    this.model.startTime = $('#beginTime').val();
                    this.model.endTime = $('#endTime').val();
                    axios.post(zmme + url, this.model).then(function (response) {
                        if (response.data.code == 0) {
                            swal({title: "保存广告成功", text: "", type: "success"}, function () {
                                if (uuid) location.replace(location.href); else layer_close();
                            });
                        } else {
                            swal({title: "保存广告失败", text: "", type: "error"}, function () {
                                location.replace(location.href);
                            });
                        }
                    })
                }
            },
            uploadImg: function (event) {
                readAsDataURL(event.target, true);
            },
            removeImg: function (img) {
                this.model.banners.remove(img);
                this.imageUrl = null;
            }
        },
        computed: {
            fileUrls: function () {
                if (this.model.banners == '') {
                    this.model.banners = [];
                }
                if (this.imageUrl != null) {
                    this.model.banners.push(this.imageUrl);
                }
                return this.model.banners;
            }
        }
    })
    /*数组属性扩展*/
    Array.prototype.indexOf = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1)
            this.splice(index, 1);
    };
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>