<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <style type="text/css">
        .fileUploadDiv {
            position: relative;
            overflow: hidden;
            float: left !important;
        }
    </style>
    <title>潮搭</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">搭配名称：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <input type="text" class="input-text" v-model="model.collectionName" :readonly="isEdit"
                       name="model.collectionName"
                       required/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">UIbanner：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <ul>
                    <li v-for="img in fileUrls" style="display: inline;">
                        <a :href="img" target="_blank"><img :src="img" alt="图片" width="200px"/></a>
                        <a title="删除" @click="removeImg(img)" v-show="!isEdit"><i>删除</i></a>
                    </li>
                </ul>
                <div class="fileUploadDiv" v-show="!isEdit">
                    <input type="file" class="input-file" @change="uploadImg">
                    <a class="btn btn-upload">选择图片</a>
                </div>
                <span v-show="fileUrls.length == 0" class="error" style="color: red;font-size: 12px">至少需一张</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">适合温度：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <select class="select-box" v-model="model.temperature" :disabled="isEdit" name="model.temperature"
                        required>
                    <option v-for="temperatureTemp in temperature" :value="temperatureTemp.uuid">
                        {{temperatureTemp.className}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">适合场所：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <select class="select-box" v-model="model.occasion" :disabled="isEdit" name="model.occasion" required>
                    <option v-for="situationTemp in situation" :value="situationTemp.uuid">{{situationTemp.className}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">适合色系：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <select class="select-box" v-model="model.color" :disabled="isEdit" name="model.color" required>
                    <option v-for="colorTemp in color" :value="colorTemp.uuid">{{colorTemp.className}}</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">适合风格：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <select class="select-box" v-model="model.style" :disabled="isEdit" name="model.style" required>
                    <option v-for="styleTemp in style" :value="styleTemp.uuid">{{styleTemp.className}}</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">添加衣服：</label>
            <div class="formControls col-xs-5 col-sm-3">
                <div class="fileUploadDiv" v-show="model.clothModel =='' && !isEdit">
                    <input type="file" class="input-file" @change="uploadModel" id="uploadModel">
                    <a class="btn btn-upload">上传模型</a>
                </div>
                <span v-show="model.clothModel ==''" class="error" style="color: red;font-size: 12px">请上传模型</span>
                <div style="text-align: center" v-show="model.clothModel !=''">
                    <a id="changeImg"><img :src="model.clothModelPic" width="200px"/></a>
                    <br>
                    <a :href="modelFile" target="_blank">查看模型</a>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="row cl" style="padding: 50px;" v-show="!isEdit">
                <input type="button" value="确定" class="btn btn-success" @click="save"/>
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('#myform').validate();
        $('#changeImg').on('click', function (e) {
            e.preventDefault();
            $('#uploadModel').trigger('click');
        })
    })

    var uuid = getUrlParmsByName("uuid");
    var isEdit = getUrlParmsByName("isEdit");
    function getFashionData(uuid) {
        var result = null;
        $.ajax({
            url: zmme + "/fashion/findByUuid/" + uuid,
            dataType: 'json',
            method: 'get',
            async: false,
            success: function (data) {
                if (data.code == 0) {
                    result = data.data;
                }
            }
        })
        return result;
    }
    var vm = new Vue({
        el: "#app",
        data: {
            model: {
                "uuid": "",
                "status": null,
                "collectionName": "",
                "banners": "",
                "temperature": "",
                "occasion": "",
                "color": "",
                "style": "",
                "clothModel": "",
                "clothModelPic": ""
            },
            data: {
                dataFile: null
            },
            imageUrl: null,
            temperature: null,
            situation: null,
            color: null,
            style: null
        },
        created: function () {
            axios.post(zmme + "/baseData/query", {pageNum: 1, pageSize: 100, type: 6}).then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.temperature = result.data.list;
            })
            axios.post(zmme + "/baseData/query", {pageNum: 1, pageSize: 100, type: 7}).then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.situation = result.data.list;
            })
            axios.post(zmme + "/baseData/query", {pageNum: 1, pageSize: 100, type: 8}).then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.color = result.data.list;
            })
            axios.post(zmme + "/baseData/query", {pageNum: 1, pageSize: 100, type: 9}).then(function (response) {
                var result = response.data;
                if (result.code == 0)
                    vm.style = result.data.list;
            })
            this.isEdit = isEdit == 'false' ? true : false;
            if (uuid) {
                this.model = getFashionData(uuid);
                this.model.banners = JSON.parse(this.model.banners);
            }
        },
        methods: {
            save: function () {
                if ($('#myform').valid() && vm.model.clothModel !='' && vm.fileUrls.length > 0) {
                    var url = '';
                    if (uuid) {
                        url = '/fashion/update';
                    } else {
                        url = '/fashion/add';
                    }
                    this.model.banners = JSON.stringify(this.model.banners);
                    this.model.status = this.model.status == null ? "up" : this.model.status;
                    axios.post(zmme + url, this.model).then(function (response) {
                        if (response.data.code == 0) {
                            swal({title: "保存潮搭成功", text: "", type: "success"}, function () {
                                if (uuid) location.replace(location.href); else layer_close();
                            });
                        } else {
                            swal({title: "保存潮搭失败", text: "", type: "error"}, function () {
                                location.replace(location.href);
                            });
                        }
                    })
                }
            },
            uploadImg: function (event) {
                readAsDataURL(event.target, true);
            },
            removeImg: function (img) {
                this.model.banners.remove(img);
                this.imageUrl = null;
            },
            uploadModel: function (event) {
                readAsDataURL(event.target, false, 0);
            }
        },
        computed: {
            fileUrls: function () {
                if (this.model.banners == '') {
                    this.model.banners = [];
                }
                if (this.imageUrl != null) {
                    this.model.banners.push(this.imageUrl);
                }
                return this.model.banners;
            },
            modelFile: function () {
                if (Boolean(this.data.dataFile)) {
                    this.model.clothModel = this.data.dataFile;
                    this.model.clothModelPic = this.data.dataFile;
                }
                return this.model.clothModel;
            }
        }
    })

    /*数组属性扩展*/
    Array.prototype.indexOf = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };
    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1)
            this.splice(index, 1);
    };
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>