<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.basedata.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.basedata.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tree_path" property="treePath" jdbcType="VARCHAR" />
    <result column="area_parent_id" property="areaParentId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>

  <resultMap id="BaseResult1Map" type="com.kingthy.platform.dto.basedata.AreaDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area_parent_id" property="areaParentId" jdbcType="INTEGER" />
    <collection property ="areaList" ofType="com.kingthy.platform.dto.basedata.AreaDtoc">
      <result column="id1" property="id" jdbcType="INTEGER" />
      <result column="full_name1" property="fullName" jdbcType="VARCHAR" />
      <result column="grade1" property="grade" jdbcType="INTEGER" />
      <result column="name1" property="name" jdbcType="VARCHAR" />
      <result column="area_parent_id1" property="areaParentId" jdbcType="INTEGER" />
      <collection property ="areaDto2List" ofType="com.kingthy.platform.dto.basedata.AreaDtoa">
        <result column="id2" property="id" jdbcType="INTEGER" />
        <result column="full_name2" property="fullName" jdbcType="VARCHAR" />
        <result column="grade2" property="grade" jdbcType="INTEGER" />
        <result column="name2" property="name" jdbcType="VARCHAR" />
        <result column="area_parent_id2" property="areaParentId" jdbcType="INTEGER" />
      </collection>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, version, creator, modifier, orders, full_name, grade, 
    name, tree_path, area_parent_id, del_flag
  </sql>

  <select id="selectArea" resultMap="BaseResult1Map" >
      /*SELECT
        a1.id, a1.full_name, a1.grade, a1.name, a1.area_parent_id,
        a2.id, a2.full_name, a2.grade, a2.name, a2.area_parent_id,
        a3.id, a3.full_name, a3.grade, a3.name, a3.area_parent_id
      FROM
          area a1
      LEFT JOIN area a2 ON a1.area_parent_id = a2.id
      LEFT JOIN area a3 ON a2.id = a3.area_parent_id*/
      SELECT
        a1.id, a1.full_name, a1.grade, a1.name, a1.area_parent_id,
        a2.id id1, a2.full_name full_name1, a2.grade grade1, a2.name name1, a2.area_parent_id area_parent_id1,
        a3.id id2, a3.full_name full_name2, a3.grade grade2, a3.name name2, a3.area_parent_id area_parent_id2
      FROM
          area a1
      LEFT JOIN area a2 ON a2.area_parent_id = a1.id
      LEFT JOIN area a3 ON a2.id = a3.area_parent_id where a1.grade =0 and a2.grade =1 and a3.grade =2
  </select>

</mapper>