<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.basedata.PartsCategoryMapper">

	<resultMap id="BaseResultMap"
		type="com.kingthy.platform.entity.basedata.PartsCategory">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="CHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="class_name" property="className" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="BIT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="del_flag" property="delFlag" jdbcType="BIT" />
		<result column="orders" property="orders" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="tree_path" property="treePath" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="PartsCategoryTreeMap"
		type="com.kingthy.platform.dto.basedata.PartsCategoryTree">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="CHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="class_name" property="className" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="BIT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="del_flag" property="delFlag" jdbcType="BIT" />
		<result column="orders" property="orders" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="tree_path" property="treePath" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="PartsCategoryDtoResultMap"
		type="com.kingthy.platform.dto.basedata.PartsCategoryDto">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="CHAR" />
		<result column="class_name" property="className" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="BIT" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uuid, create_date, modify_date, creator, modifier, version, class_name, status, description, 
    parent_id, del_flag, orders, grade, tree_path
  </sql>
  
  <sql id="PartsCategoryDto_Column_List" >
    id, uuid, name, status, 
    parent_id,  grade
  </sql>
  
  <select id="selectPartsCategoryTree" resultMap="PartsCategoryTreeMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parts_category where del_flag = 0
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  	
  <select id="selectPartsCategoryTreeByExample" resultMap="PartsCategoryTreeMap">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parts_category 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

	<select id="selectChild" resultType="java.lang.String">
		select getChild_parts_category (#{uuid,jdbcType=INTEGER})
	</select>

	<update id="updateStatusInExample">
		update parts_category
		<set>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            modify_date = CURRENT_TIMESTAMP,
		</set>
		where uuid in
		<foreach item="item" index="index" collection="childArray" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<update id="updateGradeInExample">
		update parts_category
		<set>
			<if test="grade != null">
				grade = grade + #{grade,jdbcType=INTEGER},
			</if>
			<if test="modifier != null">
                modifier = #{modifier},
			</if>
				modify_date = CURRENT_TIMESTAMP,
		</set>
		where uuid in
		<foreach item="item" index="index" collection="childArray" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>

</mapper>