<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingthy.platform.mapper.basedata.SeasonCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.kingthy.platform.entity.basedata.SeasonCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="tree_path" property="treePath" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getGrade" parameterType="int" resultType="int">
  	SELECT grade FROM season_category WHERE parent_id = #{parentId}
  </select>
  
  <update id="updateSeasonCategoryStatus" parameterType="map" >
  	update season_category set status=#{seasonCategoryStatus},modifier=#{modifier},modify_date=CURRENT_TIMESTAMP where uuid in 
  	<foreach collection="seasonCategoryChildUuids" item="seasonCategoryChildUuid" open="(" close=")" separator=",">
  	  #{seasonCategoryChildUuid}
  	</foreach>
  </update>
  
  <update id="transferSeasonCategory" parameterType="java.util.Map" >
  	update season_category set parent_id = #{seasoncategoryUuidNew},modifier=#{modifier},modify_date=CURRENT_TIMESTAMP where parent_id = #{seasonCategoryUuidOld}
  </update>
  
  <update id="deleteSeasonCategory" parameterType="java.util.Map">
  	update season_category set del_flag=true,modifier=#{modifier},modify_date=CURRENT_TIMESTAMP where uuid = #{seasonCategoryUuid}
  </update>
  
  <select id="getSeasonCategoryChildUuid" parameterType="String" resultType="String">
	select getChild_season_category(#{seasonCategoryUuid});
  </select>
  
  <update id="updateSeasonCategoryGradeBatch" parameterType="java.util.Map">
  	update season_category set modifier=#{modifier},modify_date=CURRENT_TIMESTAMP,grade=grade+<![CDATA[(]]>#{diffInt}<![CDATA[)]]> where uuid in 
  	<foreach collection="seasonCategoryChildUuids" item="seasonCategoryChildUuid" open="(" close=")" separator=",">
  	  #{seasonCategoryChildUuid}
  	</foreach>
  </update>
  
  <select id="selectAllSeasoncategoryTree" resultMap="seasoncategoryDtoMap">
  	select uuid,parent_id,class_name,grade from season_category where del_flag is false
  </select>
  
  <select id="findAllSeasoncategoryTop" resultMap="BaseResultMap">
  	select uuid,class_name,description,status,grade,parent_id from season_category where del_flag is false and grade = 0
  </select>
  
  <resultMap id="seasoncategoryDtoMap" type="com.kingthy.platform.dto.basedata.SeasonCategoryDto" >
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
  </resultMap>
</mapper>