<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <style type="text/css">
        table {
            border: 1px solid;
        }

        table tr {
            height: 30px;
        }

        table td {
            border: 1px groove;
            font-size: 13px;
        }
    </style>
    <title>官方商品详情</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">商品名称：</label>
            <div>
                <label>{{data.goodsName}}</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">商品预览图：</label>
            <div>
                <ul class="inline">
                    <li v-for="img in data.goodsImage"><img :src="img.opusImage" width="150px"></li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">参考价：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>￥{{data.standardPrice}}元</label>
            </div>
            <label class="form-label col-xs-2 col-sm-1">设计师：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.designer}}</label>
            </div>
        </div>
        <div class="row cl">
            <div style="padding-left: 50px;width: 1000px;">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2" bgcolor="#a9a9a9"><strong>&nbsp;&nbsp;&nbsp;产品参数</strong></th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: middle;text-align: center">
                    <tr>
                        <td width="100px">所属分类</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>衣门襟</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>服装版型</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>领型</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>袖型</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>面料</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>成分含量</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>适合年龄</td>
                        <td>{{data.className}}</td>
                    </tr>
                    <tr>
                        <td>风格</td>
                        <td>{{data.className}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">运单号：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.className}}</label>
            </div>
            <label class="form-label col-xs-2 col-sm-1">客户备注：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.className}}</label>
            </div>
        </div>
        <div class="row cl">
            <div style="padding-left: 50px;width: 1000px">
                <table border="1px solid">
                    <thead>
                    <th colspan="6" bgcolor="#a9a9a9"><strong>&nbsp;&nbsp;&nbsp;部件参数</strong></th>
                    </thead>
                    <tbody style="vertical-align: middle;text-align: center">
                    <tr>
                        <td width="100px">编号</td>
                        <td>名称</td>
                        <td>所属分类</td>
                        <td>缩略图</td>
                    </tr>
                    <tr v-for="part in data.partInfo">
                        <td>{{part.sn}}</td>
                        <td>{{part.parts}}</td>
                        <td>{{part.partsubCategoryName}}</td>
                        <td><img :src="part.imagePath" width="100px"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cl">
            <div style="padding-left: 50px;width: 1000px;">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2" bgcolor="#a9a9a9"><strong>&nbsp;&nbsp;&nbsp;面辅料信息</strong></th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: middle;text-align: center">
                    <tr style="height: 120px">
                        <td width="100px">面料</td>
                        <td>
                            <ul class="inline">
                                <li v-for="materiel in data.materielInfo">
                                    <div v-for="img in materiel.images"><img :src="img.image" width="150px">{{materiel.name}}</div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="height: 120px">
                        <td>辅料</td>
                        <td>
                            <ul class="inline">
                                <li v-for="accessories in data.accessoriesInfo">
                                    <div><img :src="accessories.image" width="150px">{{accessories.name}}</div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">商品详情图：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.goodsDetailImage}}</label>
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript">
    $('#myform').validate();
    var uuid = getUrlParmsByName("uuid");
    var vm = new Vue({
        el: "#app",
        data: {
            data: {
                "goodsName": "",
                "goodsImage": "",
                "standardPrice": "",
                "designer": "",
                "className": "",
                "attribute": "",
                "partInfo": "",
                "materielInfo": "",
                "accessoriesInfo": "",
                "goodsDetailImage": ""
            }
        },
        created: function () {
            axios.get(zmme + "/officially/goods/show/" + uuid).then(function (response) {
                    var result = response.data;
                    if (result.code == 0) {
                        vm.data = result.data;
                        if (vm.data.goodsImage != "")
                            vm.data.goodsImage = JSON.parse(vm.data.goodsImage);
                        if (vm.data.partInfo != "")
                            vm.data.partInfo = JSON.parse(vm.data.partInfo);
                        if (vm.data.materielInfo != "")
                            vm.data.materielInfo = JSON.parse(vm.data.materielInfo);
                        if (vm.data.accessoriesInfo != "")
                            vm.data.accessoriesInfo = JSON.parse(vm.data.accessoriesInfo);
                        if (vm.data.goodsDetailImage != "")
                            vm.data.goodsDetailImage = JSON.parse(vm.data.goodsDetailImage);
                        if (vm.data.attribute != "")
                            vm.data.attribute = JSON.parse(vm.data.attribute);
                    } else {
                        swal("加载数据错误！", result.message, "error");
                    }
                }
            ).catch(function (response) {

            })
        },
        methods: {}

    })
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>