<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>
    <style type="text/css">
        table {
            border: 1px solid;
        }

        table tr {
            height: 30px;
        }

        table td {
            border: 1px groove;
            font-size: 13px;
        }
    </style>
    <title>作品详情</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        基本信息
        <div class="line"></div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">作品名称：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <label>{{data.opusName}}</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">作品描述：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea">{{data.remark}}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">作品编号：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <label>{{data.sn}}</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">款式效果图：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <ul class="inline">
                    <li v-for="img in data.opusImage"><img class="album-img" :src="img.opusImage" width="150px"></li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <div style="padding-left: 50px;width: 1000px">
                <table border="1px solid">
                    <thead>
                    <th colspan="6" bgcolor="#a9a9a9"><strong>&nbsp;&nbsp;&nbsp;部件参数</strong></th>
                    </thead>
                    <tbody style="vertical-align: middle;text-align: center">
                    <tr>
                        <td width="100px">编号</td>
                        <td>名称</td>
                        <td>所属分类</td>
                        <td>缩略图</td>
                        <td>创建时间</td>
                    </tr>
                    <tr v-for="part in data.opusPartList">
                        <td>{{part.sn}}</td>
                        <td>{{part.className}}</td>
                        <td>{{part.type}}</td>
                        <td>
                            <ul class="inline">
                                <li v-for="image in JSON.parse(part.image)">
                                    <img :src="image" width="100px" >
                                </li>
                            </ul>
                        </td>
                        <td>{{new Date(part.createDate).toLocaleString()}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cl">
            <div style="padding-left: 50px;width: 1000px;">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2" bgcolor="#a9a9a9"><strong>&nbsp;&nbsp;&nbsp;面辅料信息</strong></th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: middle;text-align: center">
                    <tr style="height: 120px">
                        <td width="100px">面料</td>
                        <td>
                            <ul class="inline">
                                <li v-for="materiel in data.opusMaterialList">
                                    <div v-for="img in JSON.parse(materiel.image)"><img :src="img" width="120px">
                                    </div>{{materiel.name}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="height: 120px">
                        <td>辅料</td>
                        <td>
                            <ul class="inline">
                                <li v-for="accessories in data.opusAccessoriesList">
                                    <div v-for="img in JSON.parse(accessories.image)"><img :src="img" width="120px">
                                    </div>{{accessories.name}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">3D模型：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <a :href="'opus_model.html?model='+data.modlePath" target="_blank">查看</a>
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript">
    $('#myform').validate();
    var uuid = getUrlParmsByName("uuid");
    var vm = new Vue({
        el: "#app",
        data: {
            data: {
                "opusName": "",
                "remark": "",
                "sn": "",
                "modlePath": "",
                "opusStatus": null,
                "isShow": null,
                "memberUuid": "",
                "memberNick": "",
                "opusImage": "",
                "opusPartList": [],
                "opusAccessoriesList": [],
                "opusMaterialList": []
            }
        },
        created: function () {
            axios.get(zmme + "/opus/findOneOpus/" + uuid).then(function (response) {
                    var result = response.data;
                    if (result.code == 0) {
                        vm.data = result.data;
                        if (vm.data.opusImage != "")
                            vm.data.opusImage = JSON.parse(vm.data.opusImage);
                    } else {
                        swal("加载数据错误！", result.message, "error");
                    }
                }
            ).catch(function (response) {

            })
        },
        methods: {}
    })
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>