<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>

    <title>作品管理</title>
</head>

<body>

<!--导航-->
<nav class="breadcrumb"><i class="glyphicon glyphicon-home"></i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span
        class="c-gray en">&gt;</span> 作品管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);"
       title="刷新"><i class="glyphicon glyphicon-refresh"></i></a>
</nav>
<div class="page-container">
    <!--操作按钮-->
    <div class="text-c" id="search">
        作品名称：<input type="text" placeholder="用户名" style="width:250px" class="input-text" v-model="model.opusName"/>
        作品状态：
        <span class="select-box inline">
            <select class="select" v-model="model.opusStatus">
                <option :value="null">全部</option>
                <option :value="0">待发布</option>
                <option :value="1">已发布</option>
            </select>
        </span>
        创建时间：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})"
               class="input-text Wdate" style="width:120px;" id="beginDate"/>
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}'})"
               class="input-text Wdate" style="width:120px;" id="endDate"/>
        设计师：<input type="text" placeholder="设计师" style="width:250px" class="input-text" v-model="model.memberNick"/>
        作品描述：<input type="text" placeholder="作品描述" style="width:250px" class="input-text" v-model="model.remark"/>
        <button class="btn btn-success" type="button" @click="search">搜索</button>
    </div>
    <!--数据列表 -->
    <div id="data_list" class="mt-20">
        <table id="tablelist" class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th data-field="sn" data-width="150px" data-valign="middle" data-align="center">作品编号
                </th>
                <th data-field="opusName" data-halign="left" data-valign="middle" data-align="left">作品名称
                </th>
                <th data-field="isShow" data-halign="left" data-valign="middle" data-formatter="statusFormatter" data-align="left">状态
                </th>
                <th data-field="remark" data-halign="left" data-valign="middle" data-align="left">作品描述
                </th>
                <th data-field="memberNick" data-halign="left" data-valign="middle" data-align="left">用户名</th>
                <th data-field="createDate" data-halign="left" data-valign="middle" data-align="left">创建时间</th>
                <th data-field="action" data-formatter="actionFormatter" data-events="operateEvents"
                    data-halign="center"
                    data-valign="middle" data-align="center">操作
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../js/table.js"></script>
<script type="text/javascript" src="../../plugins/My97DatePicker/4.8/WdatePicker.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //初始化表格
    var setting = {
        tableId: '#tablelist',
        url: zmme + "/opus/findOpus",
        pagination: true,
        pageSize: 10,
        method: "post"
    };
    initTable(setting);
    $(function () {
        $("table thead th input:checkbox").on("click", function () {
            $(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"))
        });

        var vm = new Vue({
            el: '#search',
            data: {
                model: {
                    "opusName": null,
                    "remark": null,
                    "sn": null,
                    "modlePath": null,
                    "opusStatus": null,
                    "isShow": null,
                    "uuid": null,
                    "memberUuid": null,
                    "memberNick": null,
                    "opusMaterialInfo": null,
                    "opusPartsInfo": null,
                    "opusAccessoriesInfo": null,
                    "opusImage": null,
                    beginDate: null,
                    endDate: null
                }
            },
            methods: {
                search: function () {
                    vm.model.beginDate = new Date($('#beginDate').val());
                    vm.model.endDate = new Date($('#endDate').val());
                    searchTable({tableId: '#tablelist', url: zmme + "/opus/findOpus"}, vm.model);
                }
            }

        })
    })
    //添加操作按钮
    function actionFormatter(value, row, index) {
        var html = '<div>';
        html += '<a title="3D模型"   ><i class="btn btnLink glyphicon glyphicon-link"></i></a>';
        html += '<a title="查看"><i class="btn btnView glyphicon glyphicon-file"></i></a>';
        html += '<a title="删除" class="btn btnDelete"><i class="glyphicon glyphicon-remove"></i></a>';
        html += '<a title="发布为商品" class="btn btnForward"><i class="glyphicon glyphicon-hand-right"></i></a>';
        html += '</div>';
        return [html].join('');
    }

    //注册按钮点击事件
    window.operateEvents = {
        'click .btnLink': function (e, value, row, index) {
            link3DModel(row);
        },
        'click .btnView': function (e, value, row, index) {
            view(row);
        },
        'click .btnDelete': function (e, value, row, index) {
            deleteOpus(row);
        },
        'click .btnForward': function (e, value, row, index) {
            forwardGoods(row);
        }
    }

    //查看
    function view(row) {
        var index = layer.open({
            type: 2,
            title: "作品详情",
            content: "opus_detail.html?uuid=" + row.uuid
        });
        layer.full(index);
    }

    //3D模型
    function link3DModel(row) {
        var index = layer.open({
            type: 2,
            title: "作品详情",
            content: "opus_model.html?model=" + row.modlePath
        });
        layer.full(index);
    }

    //发布为商品
    function forwardGoods(row) {
        var index = layer.open({
            type: 2,
            title: "作品详情",
            content: "goods_add.html?uuid=" + row.uuid + "&isEdit=true"
        });
        layer.full(index);
    }

    //删除作品
    function deleteOpus(row) {
        swal({
            title: "您确定要删除这件作品吗",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            var param = {
                reviewUuids: row.uuid,
                delFlag: true
            };
            axios.post(zmme + "/review/updateReview", param).then(function (response) {
                var result = response.data;
                if (result.code == 0) {
                    swal("删除成功！", "您已经成功删除了这件作品。", "success");
                    refreshTable(setting.tableId);
                } else {
                    swal("删除失败！", result.message, "error");
                }
            })
        });
    }

    function statusFormatter(value, row, index) {
        var div = "-";
        if (value) {
            div = "待发布";
        } else {
            div = "已发布";
        }
        return div;
    }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>