<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../favicon.ico">
    <link rel="Shortcut Icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugins/sweetalert/sweetalert.css"/>

    <title>评论详情</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">用户：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.memberName}}</label>
            </div>
            <label class="form-label col-xs-2 col-sm-1">IP地址：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.ip}}</label>
            </div>
            <label class="form-label col-xs-2 col-sm-1">评论时间：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.createDate}}</label>
            </div>
            <label class="form-label col-xs-2 col-sm-1">评论对象：</label>
            <div class="formControls col-xs-3 col-sm-2">
                <label>{{data.goodsName}}</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">评论内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea cols="" rows="" class="textarea" v-model="data.content" readonly="true"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1"></label>
            <div class="formControls col-xs-8 col-sm-9">
                <ul>
                    <li style="display: inline" v-for="image in data.buyersShowImgList"><a :href="image.imgUrl"
                                                                                           target="_blank"><img
                            :src="image.imgUrl" width="10%" height="10%"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">评论状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" v-model="data.status" value="true" disabled="true"/>显示
                <input type="radio" v-model="data.status" value="false" disabled="true"/>隐藏
            </div>
        </div>
        <br>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">商家回复：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label>{{data.replyContent}}</label>
            </div>
        </div>
        <div class="row cl" v-show="data.isEdit">
            <label class="form-label col-xs-2 col-sm-1"></label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea cols="" rows="" class="textarea" v-model="data.reply" placeholder="输入回复内容"
                          required="true"></textarea>
            </div>
            <div class="col-xs-8 col-sm-9 col-xs-offset-2 col-sm-offset-1"><br/>
                <input class="btn btn-primary radius" type="button" value="确认" @click="reply">
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../js/base.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript">
    $('#myform').validate();
    var uuid = getUrlParmsByName("uuid");
    var isEdit = getUrlParmsByName("isEdit");
    var vm = new Vue({
        el: "#app",
        data: {
            data: {
                memberName: '',
                goodsName: '',
                ip: '',
                createDate: '',
                buyersShowImgList: '',
                uuid: '',
                reply: '',
                replyContent: '',
                isEdit: ''
            }
        },
        created: function () {
            if (uuid)
                axios.get(zmme + "/review/detail/" + uuid).then(function (response) {
                        var result = response.data;
                        if (result.code == 0) {
                            vm.data = result.data;
                            vm.data.isEdit = isEdit;
                        } else {
                            swal("加载数据错误！", result.message, "error");
                        }
                    }
                ).catch(function (response) {

                })
        },
        methods: {
            reply: function () {
                if ($('#myform').valid())
                    axios.post(zmme + "/reply/create", {
                        buyersUuid: vm.data.uuid,
                        content: vm.data.reply,
                        memberUuid: memberUuid
                    }).then(function (response) {
                        var result = response.data;
                        if (result.code == 0) {
                            swal({title: "回复成功", text: "", type: "success"}, function () {
                                layer_close();
                            })
                        } else {
                            swal("回复失败！", result.message, "error");
                        }
                    }).catch(function (response) {
                        swal("请求数据错误！", response.data, "error");
                    })
            }
        }

    })
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>