<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../../../favicon.ico">
    <link rel="Shortcut Icon" href="../../../favicon.ico"/>
    <!--[if lt IE 9]>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../css/h-ui/css/H-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/plugins/sweetalert/sweetalert.css"/>
    <!--/meta 作为公共模版分离出去-->

    <title>发型编辑</title>
</head>
<body>
<form class="page-container" id="myform">
    <div class="form form-horizontal" id="app">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="最少输入2个字符" v-model="className" required="true"
                       minlength="2">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input type="radio" id="status-1" value="true" v-model="status">
                    <label for="status-1">显示</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="status-2" value="false" v-model="status">
                    <label for="status-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" cols="" rows="" class="textarea" placeholder="最少输入10个字符"
                          v-model="description"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-3 col-sm-offset-2">
                <input class="btn btn-primary radius" type="button" value="保存" @click="save">
            </div>
        </div>
    </div>
</form>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../../js/base.js"></script>
<script type="text/javascript" src="../../../plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../../plugins/jquery.validation/messages_zh.min.js"></script>
<script type="text/javascript">
    $('#myform').validate();
    var uuid = getUrlParmsByName("uuid");
    var vm = new Vue({
        el: "#app",
        data: {
            className: '',
            status: true,
            description: ''
        },
        created: function () {
            if (uuid)
                axios.get(zmme + "/baseData/query/" + uuid).then(function (response) {
                    var result = response.data;
                    if (result.code == 0) {
                        vm.className = result.data.className;
                        vm.status = result.data.status;
                        vm.description = result.data.description;
                    } else {
                        swal("加载数据错误！", result.message, "error");
                    }
                }).catch(function (response) {

                })
        },
        methods: {
            save: function () {
                if ($('#myform').valid())
                    if (uuid) {
                        axios.put(zmme + "/baseData/update", {
                            className: vm.className,
                            description: vm.description,
                            status: vm.status,
                            uuid: uuid
                        }).then(function (response) {
                            var result = response.data;
                            if (result.code == 0) {
                                swal({title: "编辑成功！", text: result.message, type: "success"}, function () {
                                    layer_close();
                                });
                            } else {
                                swal("编辑失败！", result.message, "error");
                            }
                        }).catch(function (response) {

                        })
                    } else {
                        axios.post(zmme + "/baseData/create", {
                            className: vm.className,
                            description: vm.description,
                            status: vm.status,
                            type: 7
                        }).then(function (response) {
                                var result = response.data;
                                if (result.code == 0 && result.data > 0) {
                                    swal({title: "创建成功！", text: result.message, type: "success"}, function () {
                                        layer_close();
                                    });
                                } else {
                                    swal("创建失败！", result.message, "error");
                                }
                            }
                        ).catch(function (response) {

                        })
                    }
            }
        }

    })
</script>
<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>